@using CI_Platform.Entities.Models
 @model List<CmsPage>

    @{
        Layout  = "Header";
    }


@{
    ViewData["Title"] = "Privacy and Cookies Policy";
}


 <div class="container">
        <div class="row d-flex justify-content-center">
            <h1 class="mt-4">@ViewData["Title"]</h1>
            <div class="col-sm-4 mt-4">
                <div id="list-example" class="list-group sticky-top">
                    @foreach (var item in Model)
                    {
                        <a class="list-group-item list-group-item-action @if (item.CmsPageId == Model.First().CmsPageId) { <text>active</text> }" href="#list-@item.CmsPageId">@item.Title</a>
                        <hr>
                    }
                </div>
                <br><br/>

                
                @if (Context.User?.FindFirst("UserId") != null || Context.User?.FindFirst("Uname") != null)
                {
                    <a asp-controller="Platform" asp-action="Platform">
                        <button type="submit" style="width: 20vh; background-position: 92% 10px;" class="applyButton my-2">Go to Homepage </button>
                    </a>
                }
                else
                {
                    <a asp-controller="User" asp-action="Login">
                        <button type="submit" style="width: 20vh; background-position: 92% 10px;" class="applyButton my-2">Go to Loginpage </button>
                    </a>
                }
               
            </div>

            <div class="col-sm-8">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                
                @foreach (var item in Model)
                {
                    <h3 id="list-@item.CmsPageId" class="mt-4">@item.Title</h3>

                    <p class="mt-2">@Html.Raw(@item.Description)</p>

                    <hr class="mt-5 mb-5" />
                }

                <br />


                <h1 class="mt-5">The first level heading - H1 </h1>
                <h2 class="mt-2">The second level heading - H2 </h2>
                <h3 class="mt-2">The third level heading - H3</h3>
                <h4 class="mt-2">The forth level heading - H4 </h4>
                <h5 class="mt-2">The fifth level heading - H5</h5>
                <h6 class="mt-2">The sixth level heading - H6</h6>

                <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br><br><br><br>
            </div>
            </div>
        </div>
    </div>

    
    <script>
        // Get all the list items
        const listItems = document.querySelectorAll('#list-example a');

        // Loop through the list items and add a click event listener to each
        listItems.forEach(item => {
          item.addEventListener('click', function() {
            // Remove the active class from all list items
            listItems.forEach(item => {
              item.classList.remove('active');
            });

            // Add the active class to the clicked list item
            this.classList.add('active');
          });
        }); 
</script>