@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CI.Models.ViewModels.VMTimeSheet

<div class="modal fade" id="addtime" tabindex="-1" aria-bs-labelledby="exampleModalLabel" aria-bs-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Please input below Volunteering Hour</h1>
                <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class=" col-12">
                            <label for="select-mission">select mission</label>
                            <select asp-for="@Model.timesheet.MissionId" class="form-select ">
                                @foreach (var j in Model.missionApplicatoinsByTime)
                                {
                                    <option value="@j.MissionId">@j.Mission.Title</option>
                                }
                            </select>
                        </div>
                        <input asp-for="@Model.timesheet.TimesheetId" hidden />
                        <div class="col-12">
                            <label asp-for="@Model.timesheet.DateVolunteered">Date Volunteered</label>
                            <input asp-for="@Model.timesheet.DateVolunteered" type="date" id="name" class="form-control" placeholder="Select Date" required>
                            <span asp-validation-for="@Model.timesheet.DateVolunteered" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label asp-for="hour">Hours</label>
                            <input asp-for="hour" type="number" id="name" class="form-control" placeholder="Enter Spent Minutes" required>
                            <span asp-validation-for="hour" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label asp-for="minute">Minutes</label>
                            <input asp-for="minute" type="number" id="name" class="form-control" placeholder="Enter Spent Hours" max="59" min="0" required>
                            <span asp-validation-for="minute" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label asp-for="@Model.timesheet.Notes">Message</label>
                            <textarea class="form-control" asp-for="@Model.timesheet.Notes" rows="6" placeholder="Enter Your Message"></textarea>
                            <span asp-validation-for="@Model.timesheet.Notes" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                            <div class="applybtn"><button class="btn" type="submit">Submit</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addgoal" tabindex="-1" aria-bs-labelledby="exampleModalLabel" aria-bs-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Please input below Volunteering Goal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class=" col-12">
                            <label for="select-mission">select mission</label>
                            <select asp-for="@Model.timesheet.MissionId" class="form-select ">
                                @foreach (var j in Model.missionApplicatoinsByGoal)
                                {
                                    <option value="@j.MissionId">@j.Mission.Title</option>
                                }
                            </select>
                        </div>
                        <input asp-for="@Model.timesheet.TimesheetId" hidden />
                        <div class="col-12">
                            <label asp-for="@Model.timesheet.DateVolunteered">Date Volunteered</label>
                            <input asp-for="@Model.timesheet.DateVolunteered" type="date" id="name" class="form-control" placeholder="Select Date" required>
                            <span asp-validation-for="@Model.timesheet.DateVolunteered" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label asp-for="@Model.timesheet.Action">Action</label>
                            <input asp-for="@Model.timesheet.Action" type="number" id="name" class="form-control" placeholder="Enter Action" required>
                            <span asp-validation-for="@Model.timesheet.Action" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label asp-for="@Model.timesheet.Notes">Message</label>
                            <textarea class="form-control" asp-for="@Model.timesheet.Notes" rows="6" placeholder="Enter Your Message"></textarea>
                            <span asp-validation-for="@Model.timesheet.Notes" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                            <div class="applybtn"><button class="btn" type="submit">Submit</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Volunteering_Timesheet.js"></script>