@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CI.Models.ViewModels.Volunteer_Mission
@using System.Security.Claims
@{
    ViewData["title"] = "volunteering mission";
    ViewData["css"] = "volunteering_mission.css";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
@*mission details with images*@
<div class=" container mt-4">


    <div class="row">
        <div class="images col-lg-6 col-md-6 col-sm-12">
            <div class="carousel slide" data-bs-interval="false" id="sub-images">
                <div class="carousel-inner">
                    @{
                        int count = 0;
                        foreach (var item in Model?.mission?.MissionMedia)
                        {
                            if (count == 0)
                            {
                                <img class="w-100 carousel-item active main-image" src='@item.MediaPath' alt="" />
                                count = count + 1;
                            }
                            else
                            {
                                <img class="w-100 carousel-item main-image" src='@item.MediaPath' alt="" />
                            }
                        }
                    }
                </div>
                <div class="mt-1 w-100 position-relative">
                    <div class="carousel slide" data-bs-interval="false" id="other-images">
                        <div class="carousel-inner">
                            @{
                                int sub_count = 4;
                                int check = 0;
                                int carousel_count = (int)Math.Ceiling((double)@Model?.mission?.MissionMedia.Count / 4);
                                for (var i = 0; i < carousel_count; i++)
                                {
                                    if (check == 0)
                                    {
                                        <div class="carousel-item active">
                                            <div class="d-flex">
                                                @if (@Model?.mission?.MissionMedia.Count >= sub_count)
                                                {
                                                    @for (int j = 0; j < sub_count; j++)
                                                    {
                                                        <img src='@Model?.mission?.MissionMedia.ElementAt(j).MediaPath' data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                    }
                                                }
                                                else
                                                {
                                                    @for (int j = 0; j < @Model?.mission?.MissionMedia.Count; j++)
                                                    {
                                                        <img src='@Model?.mission?.MissionMedia.ElementAt(j).MediaPath' data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                    }
                                                }
                                            </div>
                                        </div>
                                        check = check + 4;
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <div class="d-flex">
                                                @if (@Model?.mission?.MissionMedia.Count - (4 * i) >= sub_count)
                                                {
                                                    @for (int j = check; j < sub_count + check; j++)
                                                    {
                                                        <img src='@Model?.mission?.MissionMedia.ElementAt(j).MediaPath' data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                    }
                                                }
                                                else
                                                {
                                                    @for (int j = check; j < @Model?.mission?.MissionMedia.Count; j++)
                                                    {
                                                        <img src='@Model?.mission?.MissionMedia.ElementAt(j).MediaPath' data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                    }
                                                }
                                            </div>
                                        </div>
                                        check = check + 4;
                                    }
                                }

                            }
                        </div>
                        <div class="bg-black d-flex align-items-center justify-content-center position-absolute left h-100 carousel-control-prev" data-bs-target="#other-images" data-bs-slide="prev">
                            <img src="~/images/left1.png" class="w-50" alt="not load" />
                        </div>

                        <div class="bg-black d-flex align-items-center justify-content-center position-absolute left h-100 carousel-control-next" style="left:98%;" data-bs-target="#other-images" data-bs-slide="next">
                            <img src="~/images/right-arrow2.png" class="w-50" alt="not load" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description col-lg-6 col-md-6 col-sm-12">
            <div class="caption card-body">
                <h2 class="group card-title inner list-group-item-heading">
                    @Model?.mission?.Title
                </h2>
                <p class="group inner list-group-item-text">
                    @Model?.mission?.ShortDescription
                </p>
                <div class="duration-seats-info mt-4">
                    <div class="duration">

                        @{
                            if (@Model?.mission?.MissionType == "GOAL")
                            {
                            //<p id="duration-txt" style="margin-bottom: 0;">@Model?.mission?.GoalObject</p>
                                <p id="duration-txt" style="margin-bottom: 0;">@Model?.goal?.Where(x=>x.MissionId==Model.mission.MissionId).Select(x=>x.GoalObjectiveText).FirstOrDefault() </p>
                            }
                            else
                            {
                                <p id="duration-txt" style="margin-bottom: 0;">From @Model?.mission?.StartDate?.ToString().Substring(0,10) To @Model?.mission?.EndDate?.ToString().Substring(0,10)</p>
                            }
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-between border-bottom mt-3">
                    <div class="Seats d-flex align-items-center">
                        <img src="~/images/Seats-left.png" alt="">
                        <span>
                            @Model?.mission?.TotalSeats <p>seats left</p>
                        </span>
                    </div>
                    <div class="deadline d-flex align-items-center">
                        @{


                           

                            var a1 = Model.timesheet?.Where(x => x.MissionId == Model.mission.MissionId).Sum(x => x.Action);
                            var b1 = Model.goal?.Where(x => x.MissionId == Model.mission.MissionId).Select(x => x.GoalValue).FirstOrDefault();
                            var avg = Convert.ToDouble(a1) / Convert.ToDouble(b1) * 100;

                            if (@Model?.mission?.MissionType == "GOAL")
                            {

                                if (Model.goal != null)
                                {
                                    <div class="px-2 w-25 text-end">
                                        <img src="~/images/achieved.png" alt="">
                                    </div>
                                    <div class="w-75">
                                        <div class="progress w-75">
                                            <div class="progress-bar bg-ci-primary" role="progressbar" style="width: @avg%"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="fs-7">@a1 Achieved</span>
                                    </div>
                                }

                            }
                            else
                            {
                                <img src="~/images/deadline.png" alt="">
                                <span>
                                    @Model?.mission?.Deadline.ToString().Substring(0,10)
                                    @*?*@
                                    <p>Deadline</p>
                                </span>
                            }
                        }
                    </div>
                </div>
                <div class="container">
                    <div class="row mt-4 justify-content-between">
                        <div style="cursor:pointer;" onclick="add_to_favourite(@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" class="col-lg-6 col-md-12 col-sm-6 d-flex justify-content-center align-items-center border border-dark rounded-pill mt-2">
                            @{
                                @if (@Model.Favorite_mission == 0)
                                {
                                    <img src="~/images/heart1.png" class="p-1 heart" style="margin-right:10px;height:30px;" alt="" />
                                }
                                else
                                {
                                    <img src="~/images/red-heart.png" class="p-1 heart" style="margin-right:10px;height:30px;" alt="" />
                                }
                            }
                            <span>Add To Favourite</span>
                        </div>
                        @if (@Model.Applied_or_not)
                        {
                            <div data-bs-toggle="modal" data-bs-target="#recommend" style="cursor:pointer;" class="col-lg-6 col-md-12 col-sm-6 d-flex justify-content-center align-items-center border border-dark rounded-pill mt-2">
                                <img src="~/images/add1.png" class="p-1" alt="" />
                                <span class="p-1" style="white-space:nowrap;"> Recommend To a Co-Worker</span>
                            </div>
                        }
                        <div data-bs-toggle="modal" data-bs-target="#recommend" style="cursor:pointer;" class="col-lg-6 col-md-12 col-sm-6 validate-recommend justify-content-center align-items-center border border-dark rounded-pill mt-2 d-none">
                            <img src="~/images/add1.png" class="p-1" alt="" />
                            <span class="p-1" style="white-space:nowrap;"> Recommend To a Co-Worker</span>
                        </div>
                    </div>
                    <div class="duration-seats-info mt-5">
                        <div style="cursor:pointer;" class="d-flex stars justify-content-center rating">
                            @{
                                if (@Model.Rating == 0)
                                {
                                    <img style="height:30px" id='1-star-empty' onclick="rating(1,@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" src="~/images/star-empty.png" alt="" />
                                    <img style="height:30px" id='2-star-empty' onclick="rating(2,@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" src="~/images/star-empty.png" alt="" />
                                    <img style="height:30px" id='3-star-empty' onclick="rating(3,@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" src="~/images/star-empty.png" alt="" />
                                    <img style="height:30px" id='4-star-empty' onclick="rating(4,@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" src="~/images/star-empty.png" alt="" />
                                    <img style="height:30px" id='5-star-empty' onclick="rating(5,@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" src="~/images/star-empty.png" alt="" />
                                }
                                else
                                {
                                    for (var i = 1; i <= 5; i++)
                                    {
                                        if (i <= @Model.Rating)
                                        {
                                            <img style="height:30px" id='@i-star' onclick="rating(@i,@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" src="~/images/selected-star.png" alt="" />
                                        }
                                        else
                                        {
                                            <img style="height:30px" id='@i-star-empty' onclick="rating(@i,@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" src="~/images/star-empty.png" alt="" />
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="container d-flex mt-4 stamps">
                    <div class=" d-flex w-25 flex-column justify-content-between border rounded mission-info">
                        <div class="ms-2 mt-1">
                            <img src="~/images/pin1.png" style="width:15%;" alt="" />
                        </div>
                        <div class="ms-2  mb-1">
                            <p class="text-muted" style="margin-block:0;">City</p>
                            <p style="margin-block:0;">@Model?.mission?.City.Name</p>
                        </div>
                    </div>
                    <div class=" d-flex w-25 flex-column justify-content-between border rounded mission-info">
                        <div class="ms-2 mt-1">
                            <img src="~/images/web.png" style="width:15%;" alt="" />
                        </div>
                        <div class="ms-2 mb-1">
                            <p class="text-muted" style="margin-block:0;">Theme</p>
                            <p style="margin-block:0;">@Model?.mission?.Theme?.Title</p>
                        </div>
                    </div>
                    <div class=" d-flex w-25 flex-column justify-content-between border rounded mission-info">
                        <div class="ms-2 mt-1">
                            <img src="~/images/calender.png" style="width:15%;" alt="" />
                        </div>
                        <div class="ms-2 mb-1">
                            <p class="text-muted" style="margin-block:0;">Date</p>
                            <p style="margin-block:0;">@Model?.mission?.Deadline.ToString().Substring(0,10)</p>
                            @*?*@
                        </div>
                    </div>
                    <div class=" d-flex w-25 flex-column justify-content-between border rounded mission-info">
                        <div class="ms-2 mt-1">
                            <img src="~/images/organization.png" style="width:20%;" alt="" />
                        </div>
                        <div class="ms-2 mb-1">
                            <p class="text-muted" style="margin-block:0;">Organization</p>
                            <p style="margin-block:0;">@Model?.mission?.OrganizationName</p>
                        </div>
                    </div>

                </div>
                <div class="d-flex apply-button mb-4 p-4 justify-content-center mt-1">
                    @{
                        if (DateTime.Now > @Model.mission.StartDate)
                        {
                            <button class="closeButton btn" disabled>
                                closed<img src="images/right-arrow.png" alt="">
                            </button>
                        }

                        else if (@Model.Applied_or_not)
                        {
                            <button class="alreadyapplyButton btn" disabled>
                                Already Applied<img src="images/right-arrow.png" alt="">
                            </button>
                        }
                        else
                        {
                            <button onclick="apply_for_mission(@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" class="applyButton btn">
                                Apply Now<img src="images/right-arrow.png" alt="">
                            </button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*comments*@

<div class="container mt-5 w-100">
    <div class="row w-100">
        <div class="mission-detail col-lg-7 col-md-7">
            <div class="d-flex text-muted w-100 border-bottom">
                <u class="ms-2 mb-3 active-detail introduction" onclick="tabs('introduction')">Mission</u>
                <u class="ms-4 mb-3 detail organization" onclick="tabs('organization')">Organization</u>
                <u class="ms-4 mb-3 detail comment" onclick="tabs('comment')">Comments</u>
            </div>
            <div class="text-muted tab mt-2" id="introduction">
                <h4>Introduction</h4>
                <p>@Model?.mission?.Description</p>
               
                <h4>Documents</h4>
                <div class="d-flex document flex-wrap">
                    @{
                        if (@Model?.mission?.MissionDocuments.Count != 0)
                        {
                            foreach (var item in @Model?.mission?.MissionDocuments)
                            {

                                <div class="d-flex ms-2 mt-2 align-items-center border rounded-pill p-1">
                                    <a href='~/documents/@item.DocumentPath' target='_blank' style='text-decoration:none; color:black;'>
                                        <img class=" ms-2" src="~/images/doc.png" alt="" />
                                        <span class="ms-1 me-2">@item.DocumentName</span>

                                    </a>
                                </div>
                            }
                        }
                        else
                        {

                            <h6>No Document Uploaded</h6>

                        }
                    }
                </div>
            </div>
            <div class="inner-content mt-4 tab text-muted" id="organization">
                <p>
                    @Model?.mission?.OrganizationDetail
                </p>
            </div>
            <div class="inner-content mt-4 tab text-muted" id="comment">
                <div class="form-group">
                    <textarea class="form-control" id="usercomment" placeholder="Enter your comments..." rows="3" maxlength="600"></textarea>
                    <button onclick="add_comments(@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" class="applyButton mt-3 btn">Post Comment</button>
                </div>
                <div class="bg-light user-comments mt-4 p-3" style="height:460px">
                    @{
                        foreach (var item in @Model?.mission?.Comments)
                        {
                            <div class="d-flex mt-3 bg-white align-items-center">
                                <img class="rounded-circle usercomment-image ms-2" src="@item.User.Avatar" alt="" />
                                <div class="d-flex flex-column ms-2">
                                    <span>@item.User.FirstName @item.User.LastName</span>
                                    <span>@item.CreatedAt.ToString().Substring(0,10)</span>
                                    <span class="mt-2">@item.Comment1</span>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="information col-lg-5 col-md-5 mt-4" style="text-underline-offset:1.3rem;">
            <div class="ratings border">
                <div class="container">
                    <div class="border-bottom p-3">
                        <u>Information</u>
                    </div>
                    <div class="border-bottom text-muted p-3">
                        <span>Skills</span>
                        <span class="ms-5">
                            @foreach (var item in @Model?.mission?.MissionSkills)
                            {
                                <span>@item?.Skill?.SkillName,</span>
                            }
                        </span>
                    </div>
                    <div class="border-bottom text-muted p-3">
                        <span>Days</span>
                        <span class="ms-5">@Model?.mission?.Availability</span>
                    </div>
                    <div class="d-flex align-items-center p-3 text-muted">
                        <span>Rating</span>
                        <div class="d-flex align-items-center ms-5">
                            @{
                                for (var i = 1; i <= 5; i++)
                                {
                                    if (i <= @Model.Avg_ratings)
                                    {
                                        <img style="height:30px" src="~/images/selected-star.png" alt="" />
                                    }
                                    else
                                    {
                                        <img style="height:30px" src="~/images/star-empty.png" alt="" />
                                    }
                                }
                            }
                            <span class="ms-2">(By @Model.Rating_count volunteers)</span>
                        </div>
                    </div>
                </div>
            </div>
            @* recent volunteers partical view*@
            <div class="volunteers  mt-4 border">
                <partial name="recent_volunteers_partial" />
            </div>
        </div>
    </div>
</div>
<div class="mt-5 w-100 border-bottom"></div>

@*related missions*@
<div class="container missions mt-5">
    <span class="text-muted related-mission">Related Missions</span>
    <div class="row mt-4">
        @{
            foreach (var item in @Model.related_mission)
            {
                <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                    <div class="thumbnail card d-flex">
                        <div class="img-event">

                            @if (DateTime.Now > @item.StartDate || @item.AvbSeat == 0)
                            {
                                <div class=" closeicon-badge">Close</div>
                            }
                            else if (@item.MissionApplications.Where(c => c.MissionId.Equals(@item.MissionId) && c.UserId.Equals(long.Parse(@User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value))).ToList().Count > 0)
                            {
                                <div class=" appliedicon-badge">Applied</div>
                            }

                            <img class="group list-group-image w-100 h-100"
                             src='@item.MissionMedia.ElementAt(0).MediaPath' alt="" id='@item.MissionMedia.ElementAt(0).MissionMediaId-@item.MissionMedia.ElementAt(0).MediaPath' onmouseover="view_detail_onmouseover(@item.MissionId,'@item.MissionMedia.ElementAt(0).MissionMediaId-@item.MissionMedia.ElementAt(0).MediaPath')" onmouseout="view_detail_onmouseout(@item.MissionId,'@item.MissionMedia.ElementAt(0).MissionMediaId-@item.MissionMedia.ElementAt(0).MediaPath')" />
                            <div class="location-img">
                                <img class="text-light" src="~/images/pin.png" alt="">
                                <span class="text-light">@item.City.Name</span>
                            </div>


                            @{
                                if (@item.FavoriteMissions.Where(c => c.MissionId.Equals(@item.MissionId) && c.UserId.Equals(long.Parse(@User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value))).ToList().Count > 0)
                                {

                                    <button onclick="add_to_favourite(@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@item.MissionId)" class="like-img border-0">
                                        <img class="text-light heart-@item.MissionId" style="height:24px;" src="~/images/red-heart.png" alt="">
                                    </button>
                                }
                                else
                                {
                                    <button onclick="add_to_favourite(@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@item.MissionId)" class="like-img border-0">
                                        <img class="text-light heart-@item.MissionId" src="~/images/heart.png" alt="">
                                    </button>
                                }
                            }


                            <button data-bs-toggle="modal" data-bs-target="#recommend" style="cursor:pointer;" class="stop-img border-0">
                                <img src="~/images/add1.png" class="p-1" alt="" />
                                <span class="p-1" style="white-space:nowrap;"> </span>
                            </button>




                            @*
                                <button class="stop-img border-0">
                                <img class="text-light" src="~/images/user.png" alt="">
                                </button>*@
                            <button class="mission-theme border-0">
                                <span class="p-2">@item?.Theme?.Title</span>
                            </button>
                            <div class="view-detail position-absolute" style="display:none;" onmouseover="view_detail_onmouseover(@item.MissionId,'@item.MissionMedia.ElementAt(0).MissionMediaId-@item.MissionMedia.ElementAt(0).MediaPath')" onmouseout="view_detail_onmouseout(@item.MissionId,'@item.MissionMedia.ElementAt(0).MissionMediaId-@item.MissionMedia.ElementAt(0).MediaPath')" id=@item.MissionId>
                                <a href='/volunteering_mission/@item.MissionId'>
                                    <button class="applyButton  btn d-flex  justify-content-around align-items-center" style="border: 2px solid white; color: white;">
                                        View Details <img class="ms-2" src="~/images/right-arrow.png" alt="">
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                @item.Title?.Substring(0,50)...
                            </h4>
                            <p class="group inner list-group-item-text">
                                @item.Description?.Substring(0,100).....
                            </p>
                            <div class="d-flex list-view justify-content-between">
                                <span class="organization">@item.OrganizationName</span>
                                <div class="rating">
                                    @{
                                        double avg_rating = 0;
                                        int total = @item.MissionRatings.Count;
                                        foreach (var rating in @item.MissionRatings)
                                        {
                                            avg_rating = avg_rating + rating.Rating;
                                        }
                                        avg_rating = avg_rating / total;
                                        for (var i = 1; i <= 5; i++)
                                        {
                                            if (i <= @avg_rating)
                                            {
                                                <img style="height:30px" src="~/images/selected-star.png" alt="" />
                                            }
                                            else
                                            {
                                                <img style="height:30px" src="~/images/star-empty.png" alt="" />
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="duration-seats-info mt-4">
                                <div class="duration">
                                    @{
                                        if (@item.MissionType == "GOAL")
                                        {
                                            <p id="duration-txt" style="margin-bottom: 0;">@item.GoalObject</p>
                                        }
                                        else
                                        {
                                            <p id="duration-txt" style="margin-bottom: 0;">From @item.StartDate?.ToString().Substring(0,10) To @item.EndDate?.ToString().Substring(0,10)</p>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom mt-3">
                                <div class="Seats d-flex align-items-center">
                                    <img src="~/images/Seats-left.png" alt="">
                                    <span>
                                        @item.AvbSeat <p>seats left</p>
                                    </span>
                                </div>
                                <div class="deadline d-flex align-items-center">
                                    @{
                                        if (@item.MissionType == "GOAL")
                                        {
                                            string? str1 = @item.GoalObject;
                                            string str2 = string.Empty;
                                            int goal = 0;
                                            for (int i = 0; i <= str1.Length - 1; i++)
                                            {
                                                if (Char.IsDigit(str1[i]))
                                                    str2 += str1[i];
                                            }
                                            if (str2.Length > 0)
                                            {
                                                goal = int.Parse(str2);
                                            }
                                            double? percent = (@item.Achieved / (double)goal) * 100;
                                            <img src="~/images/achieved.png" alt="">
                                            <div class="w-100">
                                                <div class="progress" style="width:90%;margin-left:10px;">
                                                    <div class="progress-bar" role="progressbar" style="width:@percent%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <p class="text-muted">@item.Achieved achieved</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <img src="images/deadline.png" alt="">
                                            <span>
                                                @item.Deadline.ToString().Substring(0,10)
                                                @*?*@

                                                <p>Deadline</p>
                                            </span>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                @if (DateTime.Now > @item.StartDate || @item.AvbSeat == 0)
                                {
                                    <button class="closeButton btn" disabled>
                                        Closed
                                    </button>
                                }
                                else if (@item.MissionApplications.Where(c => c.MissionId.Equals(@item.MissionId) && c.UserId.Equals(long.Parse(@User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value))).ToList().Count > 0)
                                {
                                    <button class="alreadyapplyButton btn " disabled>
                                        Already Applied
                                    </button>
                                }
                                else
                                {
                                    <button onclick="apply_for_mission(@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@item.MissionId)" class="applyButton btn">
                                        Apply Now<img src="images/right-arrow.png" alt="">
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@*modal for coworkers*@
<div class="modal fade" id="recommend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Select Co-Workers Who You Want To Recommend This Mission</h5>
            </div>
            <div class="modal-body">
                @{
                    @foreach (var item in @Model.All_volunteers)
                    {
                        <div class="d-flex mt-3 bg-white align-items-center">
                            <input class="form-check-input" onclick="add_coworkers('coworker-@item.UserId')" type="checkbox" value="" id='coworker-@item.UserId'>
                            <img class="rounded-circle usercomment-image ms-2" src="~/images/volunteer1.png" alt="" />
                            <span class="ms-2">@item.FirstName @item.LastName</span>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn applyButton" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="recommend(@User?.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Sid)?.Value,@Model?.mission?.MissionId)" class="btn applyButton" data-bs-dismiss="modal">Recommend</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Volunteer_mission.js"></script>

@*toastr*@

@*
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
*@