@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CI.Models.ViewModels.VMTimeSheet
@{
    ViewData["title"] = "Volunteering_Timesheet";
    ViewData["css"] = "Volunteering_Timesheet.css";
}


@{
    if (@ViewData["GetEditData"] == "edit")
    {
        <script>
            toastr.success("edit Successfull")
        </script>
    }
    if (@ViewData["Volunteering_Timesheet"] == "time")
    {
        <script>
            toastr.success("Volunteer Hour Add Successfull")
        </script>
    }
    if (@ViewData["Volunteering_Timesheet"] == "goal")
    {
        <script>
            toastr.success("Volunteer Goal Add Successfull")
        </script>
    }
    if (@ViewData["Volunteering_Timesheet"] == "timevalid")
    {
        <script>
            toastr.error("Volunteer Time is Unvalid")
        </script>
    }


    //if (@ViewData["DeleteTimesheetRecord"] == "delete")
    //{
    //    <script>
    //        toastr.error("Volunteer Delete Successfull")
    //    </script>
    //}
}


<div class="modal fade" id="timesheetpartial" tabindex="-1" aria-bs-labelledby="exampleModalLabel" aria-bs-hidden="true">
</div>
<div class="container-fluid mainbody h-100 mt-5">
    <div class="pb-5  mt-md-5 mt-0">
        <span class="fs-1 ">Volunteering Timesheet</span>

    </div>
    <div class="row">
        <div class="volunteer_hour col-12 col-md-6">
            <div class="card-header">
                <span class="fw-bold fs-4">Volunteering Hour</span>
                <div class="btn">
                    <button class="applyButton" onclick="CreateorEdit(@Model.TimesheetId, 0)">
                        <span>+ Add</span>
                    </button>
                </div>
            </div>
            <div class="data_list">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>
                                Mission
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Hours
                            </th>
                            <th>
                                Minute
                            </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.timesheets)
                        {
                            if (i.Mission.MissionType == "TIME")
                            {
                                <tr>
                                    <td>
                                        @i.Mission.Title
                                    </td>
                                    <td>
                                        @i.DateVolunteered.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @i.Time.Value.Hours
                                    </td>
                                    <td>
                                        @i.Time.Value.Minutes
                                    </td>
                                    <td>
                                        <button class="remove_style" onclick="CreateorEdit(@i.TimesheetId, 0)"><img src="/images/edit.png" /></button>
                                    </td>
                                    <td>
                                        <button class="remove_style" onclick="DeleteRecord(@i.TimesheetId)"><img src="~/images/bin.png" /></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="volunteer_goal col-12 col-md-6">
            <div class="card-header">
                <span class="fw-bold fs-4">Volunteering Goal</span>
                <div class="btn">
                    <button class="applyButton" onclick="CreateorEdit(@Model.TimesheetId, 1)">
                        <span>+ Add</span>
                    </button>
                </div>
            </div>
            <div class="data_list">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>
                                Mission
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Action
                            </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.timesheets)
                        {
                            if (i.Mission.MissionType == "GOAL")
                            {
                                <tr>
                                    <td>
                                        @i.Mission.Title
                                    </td>
                                    <td>
                                        @i.DateVolunteered.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @i.Action
                                    </td>
                                    <td>
                                        <button class="remove_style" onclick="CreateorEdit(@i.TimesheetId, 1)"><img src="/images/edit.png" /></button>
                                    </td>
                                    <td>
                                        <button class="remove_style" onclick="DeleteRecord(@i.TimesheetId)"><img src="/images/bin.png" /></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleterec" tabindex="-1" asp-action=aria-labelledby ="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="DeleteTimesheetRecord" asp-area="User" asp-controller="Home">
                <input name="timesheetId" id="timesheetid" type="hidden" value="" />
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to delete?</h1>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-danger rounded-pill" onclick="showthis()" type="submit">Delete</button>
                    <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="~/js/Volunteering_Timesheet.js"></script>




