@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accesor
@{
    ViewData["Title"] = "Admin_control";
    ViewData["css"] = "Admin.css";
}
@model List<CmsPage>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



        <div class="c p-3">
            <div class="my-3 ">
                <div class="fs-3 d-flex">
                    <div class="border-bottom border-dark pe-3">
                        Cms Page
                    </div>
                </div>
                <hr class="m-0 p-0">
            </div>
            <div class="py-3 d-flex justify-content-between align-items-center">
                <input type="text" class="form-control w-25" placeholder="search">
                @*  <input type="button" class="btn-primary" value="+ Add">*@
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">+ Add</button>

            </div>
            <div class="w-100 h-100">
                <table class="table border ">
                    <thead class="bg-primary ">
                        <tr class="rounded-3">
                            <th>Title</th>
                            <th>Status</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                    </thead>


                    @{
                        foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.Title</td>
                                    <td>
                                        @if (@item.Status == "1")
                                        {
                                            <p class="text-success">Active</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">Deactive</p>
                                        }
                                    </td>
                                    <td>
                                        <button type="button" id="editcms" onclick="editor(@item.CmsPageId)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-@item.CmsPageId">Edit</button>
                                        <button type="button" id="editcms" onclick="DeleteRecord(@item.CmsPageId)" class="btn btn-danger" >Delete</button>
                                   @*
                                        <img  onclick="DeleteRecord(@item.CmsPageId)"><img src="~/images/cancel.png" />
                                        *@
                                    </td>


                                </tr>
                            </tbody>
                        }
                    }
              
                </table>
            </div>
        </div>
    </div>

</div>


@*<script src="./js/Admin.js"></script>*@



@*delete Modal*@
<div class="modal fade" id="deleterec" tabindex="-1" asp-action=aria-labelledby ="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="GetDeleteCms" asp-area="Admin" asp-controller="User">
                <input name="cmsId" id="cmsid" type="hidden" value="" />
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to delete?</h1>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-danger rounded-pill" onclick="showthis()" type="submit">Delete</button>
                    <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>



@*modal of edit*@

@{
    foreach (var item in Model.ToList())
    {
        <div class="modal fade bd-example-modal-xl" id="edit-@item.CmsPageId" tabindex="-1" role="dialog" aria-bs-labelledby="myExtraLargeModalLabel" aria-bs-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <form asp-action="GetEditCms" asp-area="Admin" asp-controller="User">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Cms Page</h5>
                        </div>
                        <div class="modal-body d-flex flex-column align-items-center justufy-content-center">
                            <div class="w-100">
                                <label class="form-label mt-2">Title</label>
                                <input class="form-control title" value="@item.Title" />

                            </div>
                            <div class="w-100">
                                <label class="form-label mt-2">Description</label>
                                <input rows="4" type="text"  class="form-control discription" value="@item.Description"></input>
                              
                            </div>
                            <div class="w-100">
                                <label class="form-label mt-2">Slug</label>
                                <input class="form-control slug" value="@item.Slug" />
                            </div>
                            <div class="w-100">
                                <label class="form-label mt-2">Status</label>
                                <input type="text"  class="form-control status" value="@item.Status" />
                          
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div data-bs-dismiss="modal" style="cursor:pointer;" class="col-lg-2 col-md-3 col-sm-2 col-3 d-flex justify-content-center align-items-center border border-dark rounded-pill mt-2">
                                <span class="p-1 text-muted" style="white-space:nowrap;">Cancle</span>

                            </div>
                            <button style="border: 2px solid #F88634;border-radius: 100px;color: #F88634;padding-left: 20px; padding-right: 20px;" type="button" class="btn applyButton" onclick="updatecms(@item.CmsPageId)">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    }
}


@*for create  //////////////////////////////////////////////////////////////////////////////////////////*@
<div class="modal fade bd-example-modal-lg" id="edit-0" tabindex="-1" role="dialog" aria-bs-labelledby="myLargeModalLabel" aria-bs-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form asp-action="GetEditCms" asp-area="Admin" asp-controller="User">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Cms Page</h5>
                </div>
                <div class="modal-body d-flex flex-column align-items-center justufy-content-center">
                    <div class="w-100">
                        <label class="form-label mt-2">Title</label>
                        <input class="form-control title" value="" />

                    </div>
                    <div class="w-100">
                        <label class="form-label mt-2">Description</label>
                        <input rows="4" type="text" id="message" class="form-control discription" value=""/>
                       
                    </div>
                    <div class="w-100">
                        <label class="form-label mt-2">Slug</label>
                        <input class="form-control slug" value="" />
                    </div>
                    <div class="w-100">
                        <label class="form-label mt-2">Status</label>
                        <input type="text" id="subject" class="form-control status" value="" />
                  
                    </div>
                </div>
                <div class="modal-footer">
                    <div data-bs-dismiss="modal" style="cursor:pointer;" class="col-lg-2 col-md-3 col-sm-2 col-3 d-flex justify-content-center align-items-center border border-dark rounded-pill mt-2">
                        <span class="p-1 text-muted" style="white-space:nowrap;">Cancle</span>

                    </div>
                    <button style="border: 2px solid #F88634;border-radius: 100px;color: #F88634;padding-left: 20px; padding-right: 20px;" type="button" class="btn applyButton" onclick="createcms(0)">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>


