@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accesor
@{
    ViewData["Title"] = "Admin_control";
    ViewData["css"] = "Admin.css";
}
@model IEnumerable<User>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*@using (Html.BeginForm("searchUser", "Users", FormMethod.Get))
    {
    <div class="form-group">
    @Html.Label("Search")
    @Html.TextBox("searchString", ViewData["SearchString"] as string, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Search</button>

    }
    action="@Url.Action("searchUser")"
*@


<div class="c p-3">
    <div class="my-3 ">
        <div class="fs-3 d-flex">
            <div class="border-bottom border-dark pe-3">
                User
            </div>
        </div>
        <hr class="m-0 p-0">
    </div>
    <div class="py-3 d-flex justify-content-between align-items-center">

        <form method="get" asp-area="Admin" asp-controller="User" asp-action="Index">
            <div class="input-group">
                <input type="text" class="form-control" name="searchString" value="@ViewData["SearchString"]" placeholder="Search Here">
                <div class="input-group-append">
                    <button type="submit" class="ml-2 btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="w-100 h-100">
        <table class="table border ">
            <thead class="bg-white ">
                <tr class="rounded-3">
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Employee Id</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Action</th>



                </tr>
            </thead>


            @{
                foreach (var item in Model)
                {
                    <tbody>

                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.EmployeeId</td>
                            <td>@item.Department</td>
                            <td>
                                @if (@item.Status == "1")
                                {
                                    <p class="text-success">Active</p>
                                }
                                else
                                {
                                    <p class="text-danger">Deactive</p>
                                }
                            </td>

                            <td>
                                <button onclick="update(@item.UserId,1)" class="btn btn-danger">Edit</button>
                                @*
                                    <button onclick="update(@item.UserId,0)" class="btn btn-danger">Deactive</button>
                                    <img onclick="update(@item.UserId,1)" src="/images/right.png" style="margin: 3px 3px 3px 3px;" />

                                    <img onclick="update(@item.UserId,0)" src="/images/cancel.png" style="margin: 3px 3px 3px 3px;" />
                                *@
                            </td>

                        </tr>
                    </tbody>
                }
            }
        </table>


        @*pagination*@



        @if (ViewData["TotalPages"] != null && (int)ViewData["TotalPages"] > 1)
        {
            <div class="position-absolute bottom-10 end-50 mt-3">
                <nav>
                    <ul class="pagination">
                        @if ((int)ViewData["CurrentPage"] > 1)
                        {
                            <li class=" m-1 page-item "><a class="page-link " href="@Url.Action("Index", new { page = (int)ViewData["CurrentPage"] - 1, searchString = ViewData["SearchString"] })">Previous</a></li>
                        }
                        @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
                        {
                            if (i == (int)ViewData["CurrentPage"])
                            {
                                <li class=" m-1 page-item active"><a class="page-link" href="#">@i</a></li>
                            }
                            else
                            {
                                <li class=" m-1 page-item"><a class="page-link" href="@Url.Action("Index", new { page = i, searchString = ViewData["SearchString"] })">@i</a></li>
                            }
                        }
                        @if ((int)ViewData["CurrentPage"] < (int)ViewData["TotalPages"])
                        {
                            <li class="m-1 page-item"><a class="page-link" href="@Url.Action("Index", new { page = (int)ViewData["CurrentPage"] + 1, searchString = ViewData["SearchString"] })">Next</a></li>
                        }
                    </ul>
                </nav>
            </div>
        }


    </div>
</div>









@*edit*@
@{
    foreach (var item in Model)
    {

        <div class="modal fade" id="deleterec-@item.UserId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form asp-action="GetEditUser" asp-area="Admin" asp-controller="User">
                        <input name="id" id="id" type="hidden" value="@item.UserId" />
                        @*
                            <input name="flag" id="flag" type="hidden" />
                        *@
                        <div class="modal-header border-0">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to change?</h1>
                        </div>
                        <div class="modal-body ">
                            <label> User Name  </label>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">First Name </span>
                                </div>
                                <input value="@item.FirstName " name="firstname" id="firstname"  type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Last Name </span>
                                </div>
                                <input name="lastname" id="lastname" value=" @item.LastName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Email ID </span>
                                </div>
                                <input name="email" id="email" value="@item.Email" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            @*
                                <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">User Name </span>
                                </div>
                                <input value=" @item.Password" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            *@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Employee Id</span>
                                </div>
                                <input name="employeeid" id="employeeid" value=" @item.EmployeeId" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Department </span>
                                </div>
                                <input name="department" id="department" value=" @item.Department" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Profile Text </span>
                                </div>
                                <input name="profiletext" id="profiletext" value=" @item.ProfileText" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>









                             <label class="form-label">Status</label><select value="@item." id='flag'name="flag"  class="form-select city me-3" aria-label="Select Mission">
                                <option disabled selected>Select status</option>
   
                                        <option value="1">Active </option>
                                        <option value="0">Deactive </option>
                                                                
                            </select>


                             <label class="form-label">Role</label><select value="@item.Role" id='role' name="role"  class="form-select city me-3" aria-label="Select Mission">
                                <option disabled selected>Select Role</option>
   
                                        <option value="admin">Admin </option>
                                        <option value="superadmin">SuperAdmin </option>
                                                                
                            </select>

                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-outline-warning rounded-pill" type="submit">Change</button>
                            <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}






@*Approve and decline modal *@
@*<div class="modal fade" id="deleterec" tabindex="-1" asp-action=aria-labelledby ="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <form asp-action="GetEditUser" asp-area="Admin" asp-controller="User">
    <input name="id" id="id" type="hidden" value="" />
    <input name="flag" id="flag" type="hidden" value="" />
    <div class="modal-header border-0">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to change?</h1>
    </div>
    <div class="modal-footer">
    <button class="btn btn-outline-warning rounded-pill" onclick="showthis()" type="submit">Change</button>
    <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
    </div>
    </form>
    </div>
    </div>
    </div>
*@




@*<div>
    <ul class="pagination">
    @if (ViewData["CurrentPage"] != null && (int)ViewData["CurrentPage"] > 1)
    {
    <li class="page-item">
    <a class="page-link" href="@Url.Action("Index", "User", new { page = (int)ViewData["CurrentPage"] - 1 })">Previous</a>
    </li>
    }

    @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
    {
    <li class="page-item @(i == (int)ViewData["CurrentPage"] ? "active" : "")">
    <a class="page-link" href="@Url.Action("Index", "User", new { page = i })">@i</a>
    </li>
    }

    @if (ViewData["CurrentPage"] != null && (int)ViewData["CurrentPage"] < (int)ViewData["TotalPages"])
    {
    <li class="page-item">
    <a class="page-link" href="@Url.Action("Index", "User", new { page = (int)ViewData["CurrentPage"] + 1 })">Next</a>
    </li>
    }
    </ul>
    </div>
*@



@*<div class="pagination">
    @if (ViewData["CurrentPage"] != null && (int)ViewData["CurrentPage"] > 1)
    {
    <a href="@Url.Action("Index", new { page = (int)ViewData["CurrentPage"] - 1, searchString = ViewData["SearchString"] })">&laquo; Previous</a>
    }

    @if (ViewData["TotalPages"] != null)
    {
    for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
    {
    if (ViewData["CurrentPage"] != null && (int)ViewData["CurrentPage"] == i)
    {
    <span>@i</span>
    }
    else
    {
    <a href="@Url.Action("Index", new { page = i, searchString = ViewData["SearchString"] })">@i</a>
    }
    }
    }

    @if (ViewData["CurrentPage"] != null && ViewData["TotalPages"] != null && (int)ViewData["CurrentPage"] < (int)ViewData["TotalPages"])
    {
    <a href="@Url.Action("Index", new { page = (int)ViewData["CurrentPage"] + 1, searchString = ViewData["SearchString"] })">Next &raquo;</a>
    }
    </div>
*@