 @{
        Layout  = "Header";
  }

@using CI_Platform.Entities.ViewModels
@model VolunteerMissionPage 

<body onload="toggleTab('tab1'); show();">

  <!-----------------------------------------------------------------  main container ------------------------------------------------------------------>

    <div class="container-fluid">
      

        <!------------------------------------------------------------------ body container  ------------------------------------------------------------------>
        <div class="container p-0 mt-3">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">

                    <!------------------------------------------------------------ image slider  ------------------------------------------------------------------>

                    <div class="container p-0">
                        @if (@Model.missionCard.missionMediums == null || @Model.missionCard.missionMediums.Count() == 0)
                        {
                            <div class="mydiv">
                                 <img src="~/media/Grow-Trees-On-the-path-to-environment-sustainability-1.png"  style="width: 100%;" height="620" alt="">
                            </div>
                        }
                        else
                        {
                            @foreach (var item in @Model.missionCard.missionMediums)
                            {
                                @if (item.MediaType == "video")
                                {
                                     <div class="mydiv d-none" id="@item.MissionMediaId">
                                        @if (@Model.missionCard.missionMediums.Count() == 1)
                                        {
                                            <iframe style="width: 100%;" height="620" src="@item.MediaPath"></iframe>
                                        }
                                        else{
                                            <iframe style="width: 100%;" height="500" src="@item.MediaPath"></iframe>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="mydiv d-none" id="@item.MissionMediaId">
                                        @if (@Model.missionCard.missionMediums.Count() == 1)
                                        {
                                            <img src="~/media/@item.MediaPath"  style="width: 100%;" height="620" alt="">
                                        }
                                        else{
                                            <img src="~/media/@item.MediaPath"  style="width: 100%;" height="500" alt="">
                                        }
                                    </div>
                                }
                            }
                        }

                        <div class="container mt-2" id="img-list">
                            <div class="row " style="position: relative;">
                                @foreach (var item in @Model.missionCard.missionMediums)
                                {
                                    @if(item.MediaType == "video")
                                    {
                                        <div class="col mx-1 p-0 myimg d-none">
                                            <img src="https://img.youtube.com/vi/@(item.MediaPath.Substring(@item.MediaPath.LastIndexOf("/")+1))/default.jpg" height="120" style="width: 100%;"  onclick="select(@item.MissionMediaId)">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col mx-1 p-0 myimg d-none">
                                            <img src="~/media/@item.MediaPath" height="120" style="width: 100%;" alt="" onclick="select(@item.MissionMediaId)">
                                        </div>
                                    }
                                }

                                <a class="prev" onclick="prev()"></a>
                                <a class="next" onclick="next()"></a>
                            </div>
                        </div>
                    </div>

                </div>

                <!--------------------------------------------------- mission details content  ------------------------------------------------------------>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-4">

                    <h2>@Model.missionCard.mission.Title </h2>
                    <p>@Html.Raw(@Model.missionCard.mission.Description)</p>
                    <br>
                    <hr class="m-0">
                    <div class="horizontal-line mt-4">
                        @if (Model.missionCard.mission.MissionType == 0)
                        {
                            <button type="button" class="btnn btn-light overlap-button ">
                                    From
                                    @Model.missionCard.mission.StartDate.Value.ToString("dd/MM/yyyy")
                                    until
                                    @Model.missionCard.mission.EndDate.Value.ToString("dd/MM/yyyy")
                            </button>
                        }
                        else
                        {
                         <button type="button" class="btnn btn-light overlap-mission-button">
                             @Model.missionCard.goalObjective
                         </button>
                        }
                    </div>
                    <div class=" d-flex">
                        <div class="seat mt-1"></div>
                        <div id="seatsleft">
                        <div class="mt-1" style="font-size:14px;width: 67px;">@Model.missionCard.seatsleft <br>Seats left</div>
                        </div>
                        @if (Model.missionCard.mission.MissionType == 0)
                        {
                            <div class="deadline ms-auto mt-1 "></div>
                                <p class="mt-1 ">@Model.missionCard.mission.Deadline.Value.ToString("dd/MM/yyyy") <br>Deadline</p>
                        }
                        else
                        {
                            <div class="achieved ms-auto mt-1 "></div>
                            <div>
                                <div class="progress-bar mb-1">
                                    <div class="progress" id="progress" style="width: @Model.missionCard.progressBar%"></div>
                                </div>
                                <p> @Model.missionCard.achievedProgress achieved</p>

                            </div>
                        }
                    </div>


                    <hr>
                    <!----------------------------------------------------------------  Buttons  ----------------------------------------------------------------->
                    <div>
                        <div id="favmission" class="row d-flex justify-content-between">
                        @if ( @Model.missionCard.favMission == true )
                        {                          
                          <a onclick="favmissionvol(@Model.missionCard.mission.MissionId , 0)" class="p-0 btn btnn rmv-favourite col-sm-5 col-10 ms-3 mb-1 text-center">
                              <img style="width: 33px; height: 30px;" src="~/images/grey-heart.png"> Remove From Favourite
                          </a>                          
                        }
                        else
                        {                          
                           <a onclick="favmissionvol(@Model.missionCard.mission.MissionId , 1)" class="btn btnn add-favourite col-sm-5 col-10 ms-3 mb-1 text-center">
                                <img src="~/images/heart1.png"> Add to Favourite
                           </a>                           
                        }
                        

                        <!---------------------------------- Recommend to a Co-Worker button to send mail  ---------------------------------->
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btnn recomend-cowerker ms-1 col-sm-5 col-10 ms-3 mb-1 text-center">
                            <div class="icon me-2"></div>Recommend to a Co-Worker
                        </button>

                        </div>

                        <!---------------------------------- open pop-pop screen when clicked on button  ---------------------------------->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                               <div class="fs-5 fw-bold text-center" id="email_msg"></div> 
                              <div class="modal-header">                                 
                                <h5 class="modal-title" style="color:#F88634" id="exampleModalLabel">Recommend to a Co-Worker</h5>
                                <button type="button" class="closebox btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="p-0 modal-body">
                                <div class="text-center" id="dropdown">
                                  
                                  <div id="checkedbox" style="height: 120px; overflow-y: scroll;">
                                      @foreach(var item in @ViewBag.user){

                                      <a class="dropdown-item">
                                         <b>@item.Text</b> <input type="checkbox" value="@item.Value">
                                      </a>
                                      }
                                      
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button id="close-button-1" type="button" class="closebox orangeButton" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="closebox orangeButton" onclick="SendMail(@Model.missionCard.mission.MissionId)">Send Mail</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                    <br>
                    <!------------------------------------------------------------------ User Rating  ------------------------------------------------------------------>
                    <hr class="m-0">
                        <div class="horizontal-line mt-4">
                        <div class="overlap-add-button" id="givenrating">
                            @if (@Model.missionCard.applied == true )
                            {                          
                               <div class="Stars" id="Stars" style="--rating: @Model.UserRating;" aria-label="Rating of this product is @Model.UserRating out of 5."></div>
                            }
                            else
                            {
                                
                            <div class="Stars" style="--rating: 0;" aria-label="Rating of this product is @Model.missionCard.rating out of 5."></div>
                            }
                       </div>
                    </div>
                    <!------------------------------------------------------------------ 4 square  ------------------------------------------------------------------>
                    <div class="row d-flex justify-content-around">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-6 mb-1">
                            <div class="row d-flex">
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 border p-1">
                                    <img src="~/images/pin1.png" alt=""><br><br><br>
                                    <div>
                                        <span class="vol_box_text">City</span><br>
                                        <span class="vol_box_text1">@Model.missionCard.city</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                            <div class="row d-flex">
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 border p-1">
                                    <img src="~/images/web.png" alt=""><br><br><br>
                                    <div>
                                        <span class="vol_box_text">Theme </span><br>
                                        <span class="vol_box_text1">@Model.missionCard.Theme</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                            <div class="row d-flex">
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 border p-1">
                                    <img src="~/images/calender.png" alt=""><br><br>
                                    <div>
                                        <span class="vol_box_text">Date </span><br>
                                        @if(Model.missionCard.mission.Deadline > DateTime.Now && Model.missionCard.seatsleft > 0)
                                        {
                                        <span class="vol_box_text1">Ongoing</span><br>
                                        }
                                        else
                                        {
                                        <span class="vol_box_text1">Finished</span><br>   
                                        }
                                        <span class="vol_box_text1">Opportunity</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                            <div class="row d-flex">
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 border p-1">
                                    <img src="~/images/organization.png" alt=""><br><br><br>
                                    <div>
                                        <span class="vol_box_text">Organization</span><br>
                                        <span class="vol_box_text1">@Model.missionCard.mission.OrganizationName</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---------------------------------------------------------------- apply button  ------------------------------------------------------------------>
                    <div id="applybutton">
                    @if ((@Model.missionCard.applied == false && Model.missionCard.seatsleft != 0) && ((@Model.missionCard.mission.MissionType==0 && Model.missionCard.mission.Deadline > DateTime.Now && Model.missionCard.mission.EndDate > DateTime.Now ||(@Model.missionCard.mission.MissionType==1 && Model.missionCard.totalGoal > Model.missionCard.achievedProgress))))
                    {             
                            <div class="card-body pt-0 pb-0  d-flex justify-content-center">
                                <button type="submit" onclick="ApplyMission(@Model.missionCard.mission.MissionId, 0)" class="applyButton col-4 my-2">Apply </button>
                            </div>
                        }
                        else if (@Model.missionCard.applied == true)
                        {
                            if(( Model.missionCard.seatsleft == 0) && ((@Model.missionCard.mission.MissionType == 0 && Model.missionCard.mission.Deadline < DateTime.Now && Model.missionCard.mission.EndDate < DateTime.Now ||(@Model.missionCard.mission.MissionType==1 && Model.missionCard.totalGoal < Model.missionCard.achievedProgress))))
                            {
                                <div class="card-body pt-0 pb-0  d-flex justify-content-center">
                                    <button type="submit" class="btn btn-danger rounded-pill col-4 my-2">Missed </button>
                                </div>

                            }
                        }
                        else
                        {
                            <div class="card-body pt-0 pb-0  d-flex justify-content-center">
                                    <button type="submit" class="btn btn-danger rounded-pill col-4 my-2">Missed </button>
                                </div>
                        }
                    </div>
                </div>
            </div><br><br>

            <!--------------------------------------------------- mission-organigation-comments tabs  -------------------------------------------------------------->

            <div class="row">

                <div class="col-12 col-lg-7">


                    <div class="tabs">
                        <ul class="">
                            <li class="active"><a href="#tab1" onclick="toggleTab('tab1')">Mission</a></li>
                            <li><a href="#tab2" onclick="toggleTab('tab2')">Organization</a></li>
                            <li><a href="#tab3" onclick="toggleTab('tab3')"> Comments</a></li>

                        </ul>
                <!------------------------------------------------------------------ tab-1 information  ------------------------------------------------------------------>
                        <div id="tab1" class="tab-content" style="display: block;">
                            <h4 class="mt-4">Introduction</h4>
                            @if(Model.missionCard.mission.Introduction != null)
                            {
                                <p style="height: 200px; overflow-y: scroll;">@Model.missionCard.mission.Introduction</p>
                            }
                            <br>
                            <h4 class="mt-4">Challenge</h4>
                            @if(Model.missionCard.mission.Challenges != null)
                            {
                                <p style="height: 200px; overflow-y: scroll;">@Model.missionCard.mission.Challenges</p>
                            }
                            <br>
                            @if(@Model.missionDocuments.Count() != 0)
                            {                               
                            <h4 class="mt-4">Documents</h4>

                                @foreach (var item in @Model.missionDocuments)
                                {
                                  <a href=~/media/@item.DocumentPath target="_blank" style="border-bottom:none">  
                                    <button type="button" class="btnn vol-pdf my-2">@item.DocumentName.@item.DocumentType</button>
                                  </a>
                                }
                            }
                           
                        </div>
                <!------------------------------------------------------------------ tab-2 information  ------------------------------------------------------------------>
                        <div id="tab2" class="mt-3 tab-content">
                            <h4 class="text-muted mt-3 mb-3"><i class="bi bi-building"></i> &nbsp; @Model.missionCard.mission.OrganizationName </h4>
                            <br />
                            <h6 class="mb-3">Details </h6>
                            <p> @Model.missionCard.mission.OrganizationDetail </p>
                        </div>
                <!------------------------------------------------------------------ tab-3 information  ------------------------------------------------------------------>
                        <div id="tab3" class="mt-3 tab-content">
                            <textarea class="form-control" id="comment_text" placeholder="Enter Your comments..." rows="3"></textarea>
                            <div class="card-body pt-0 pb-0  ">
                                <button type="button" class="btn orangeButton col-4 my-2 mt-4" id="post_comment">Post comment</button>
                                <br><br>
                                <div id="comment_box">
                                    @if (@Model.comment.Count == 0 || @Model.comment.Count < 5 )
                                    {                             
                                    <div  class="container bg-light mb-3">
                                    
                                        @foreach (var item in Model.comment)
                                        {                                        
                                        <!------------------------------------------------------- comment  ----------------------------------------------------------->
                                        <div  class="row d-flex justify-content-center">
                                            <div class="col-11 mt-3 mb-3 bg-white">
                                                <div class="row">
                                                    <div class="col-sm-2 col-4 me-4">
                                                        <img class="vol-comm-profile_pic rounded-circle mt-2" src="~/media/@item.avtar" alt="">
                                                    </div>
                                                    <div class="col-sm-9 col-12">
                                                        <p class="p-0 m-0 mt-2">@item.username</p>
                                                        <p class="p-0 m-0">@item.comment.CreatedAt.ToString("dddd, MMMM dd, yyyy, h:mm tt")</p>
                                                        <p class="mt-1">@item.comment.CommentText</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }                           
                                    </div>
                                    }
                                    else
                                    {
                                        <div  class="container bg-light mb-3" style="height: 500px; overflow-y: scroll;">
                                    
                                        @foreach (var item in Model.comment)
                                        {                                        
                                        <!---------------------------------------------- comments  ------------------------------------------------------------------>
                                        <div  class="row d-flex justify-content-center ">
                                            <div class="col-11 mt-3 mb-2 bg-white">
                                                <div class="row">
                                                    <div class="col-sm-2 col-4 me-4">
                                                        @if (item.avtar == null || item.avtar == "")
                                                        {
                                                            <img class="vol-comm-profile_pic rounded-circle mt-2" src="~/media/user1.png" alt="">
                                                        }
                                                        else{
                                                            <img class="vol-comm-profile_pic rounded-circle mt-2" src="~/media/@item.avtar" alt="">
                                                        }
                                                    </div>
                                                    <div class="col-sm-9 col-12">
                                                        <p class="p-0 m-0 mt-2">@item.username</p>
                                                        <p class="p-0 m-0">@item.comment.CreatedAt.ToString("dddd, MMMM dd, yyyy, h:mm tt")</p>
                                                        <p class="mt-1">@item.comment.CommentText</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }                           
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!------------------------------------------------    information of volunteer mission   ------------------------------------------>
                <div class="col-12 col-lg-5 mt-3">
                    <div class="row d-flex justify-content-end ">
                        <div class="col-12 col-sm-10 border">
                            <div class="mt-3 tabs">
                                <ul class="">
                                    <li class="active">
                                        <h5>Information</h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-3">
                                <div class=" d-flex mb-2">
                                    <div class=" pe-5">Skills</div>
                                    <div>@string.Join(", ",@Model.missionCard.skills)</div>
                                </div>
                            </div>
                            <hr>
                            <div class="mt-3">
                                <div class="d-flex mb-2">
                                    <div class=" pe-5">Days</div>
                                    <div>Weekend only</div>
                                </div>
                            </div>
                            <hr>
                            <div class="mt-3 mb-3">
                                <div class="d-flex">
                                    <div class=" pe-5">Rating</div>
                                    <div id="avg_rating">
                                         @if(@Model.missionCard.applied == false)
                                        {
                                            <div class="Stars" style="--rating: 0;" aria-label="Rating of this product is out of 5."></div>
                                        }
                                        else
                                        {
                                            <div>
                                                <div class="Stars" style="--rating:@Model.missionCard.rating;" aria-label="Rating of this product is @Model.missionCard.rating out of 5."></div>
                                            </div>
                                        }
                                        <span class="rating-by-volunteer">(by @Model.missionCard.volunteercount volunteers)</span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <br>

                    <!-------------------------------------------- recent volunteers in mission  ----------------------------------------------------->
                    @if (@Model.volunteerAvtar.Count() != 0)
                    {
                        
                    <div class="row d-flex justify-content-end" id="recentvol">
                        <div class="col-12 col-sm-10 border p-0">
                            <div class="mt-3 tabs px-2">
                                <ul class="">
                                    <li class="active">
                                        <h5>Recent Volunteers </h5>
                                    </li>
                            </div><br>


                            <div class="container">
                                <div class="row row-cols-3">

                                    @foreach (var item in @Model.volunteerAvtar)
                                    {  
                                    <div class="col vol-item">
                                        <div class="d-flex justify-content-center">
                                            @if (item.User.Avatar == null || item.User.Avatar == "")
                                            {
                                                <img src="~/media/user1.png" class="vol-img img-fluid m-2" alt="">
                                            }
                                            else{
                                                <img src="~/media/@item.User.Avatar" class="vol-img img-fluid m-2" alt="">
                                            }
                                         </div>
                                        <div class="fw-normal text-center vol-name">
                                            @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@item.User.FirstName + " " + @item.User.LastName.ToLower())
                                        </div>
                                    </div>
                                    }
                                    
                                </div>
                            </div><br>

                            <div class="d-flex justify-content-between info-box">
                                <button onclick="volprevious()" class="prev-vol-btn"></button>
                                <div  class="vol-totalnum-text align-self-center" id="vollist"></div>
                                <button onclick="volnext()" class="next-vol-btn"></button>
                            </div>
                        </div>
                    </div>

                    }
                    <br><br><br><br><br>

                </div>
            </div>
        </div>

        @if (Model.relatedmission.Count() > 0)
        {
            
        <hr style=" border-top: 3px solid #ccc; background-color: #ccc;">
        }

                <!-------------------------------------------------------------   related mission  ------------------------------------------------------------------>

        <div class="container p-0">

            @if (Model.relatedmission.Count() > 0)
            {
                
                <div class="d-flex justify-content-center">
                    <h2 style="color: #414141;">Related Missions</h2>
                </div><br>
            }

            <div class="row">

  
                @foreach (var item in Model.relatedmission)
                {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2" id="@item.mission.MissionId">

                    <div class="card">
                        <div style="position: relative;">
                            <img src="~/media/@item.missionMediums.Where(m=>m.MediaType!="video").ToList()[0].MediaPath" class="card-img-top" alt="..." height="200">
                        @if ( @item.favMission == true )
                        {
                           <button onclick="favmission(@item.mission.MissionId , 0)" type="button" class="grid-liked"></button> 
                        }
                        else
                        {
                            <button onclick="favmission(@item.mission.MissionId , 1)" type="button" class="grid-like"></button>
                        }
                        @if(item.applied == true)
                            {
                                @if( (item.mission.MissionType == 0 && item.mission.Deadline > DateTime.Now && item.mission.EndDate > DateTime.Now) || (item.mission.MissionType == 1 && item.totalGoal> item.achievedProgress) )
                                {
                                <button type="button" class="appliedstatus">Applied</button>
                                }
                                else
                                {
                                <button type="button" class="appliedstatus" style="background:red;">Closed</button>
                                }
                            }
                            else{
                                @if((@item.seatsleft == 0) || ((@item.mission.MissionType==0 && (@item.mission.Deadline < DateTime.Now || @item.mission.EndDate < DateTime.Now)) || ((@item.mission.MissionType == 1 && @item.totalGoal <= @item.achievedProgress))) )
                                {
                                <button type="button" class="appliedstatus" style="background:red;">Closed</button>
                                }
                            }
                            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="grid-stop"></button>
                            <button type="button" class="grid-pin">@item.city</button>
                            <button type="button" class="btnn btn-light cat-overlap-button">@item.Theme</button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@item.mission.Title</h5>
                            @if(@item.mission.Description.Length < 70)
                                {
                                    <p class="card-text">@Html.Raw(@item.mission.Description) </p>
                                }
                                else
                                {
                                    <p class="card-text">@Html.Raw(@item.mission.Description.Substring(0,70)) </p>
                                }

                            <div class=" d-flex justify-content-between">

                                @if(@item.mission.ShortDescription.Length < 15)
                                {
                                    <div class="countery my-auto">@Html.Raw(@item.mission.ShortDescription)</div>
                                }
                                else
                                {
                                    <div class="countery my-auto">@Html.Raw(@item.mission.ShortDescription.Substring(0,15))</div>
                                }
                                

                                @if(@item.applied == false)
                                {
                                    <div class="Stars" style="--rating: 0;" aria-label="Rating of this product is out of 5."></div>
                                }
                                else
                                {
                                    <div>
                                        <div class="Stars" style="--rating:@item.rating;" aria-label="Rating of this product is @item.rating out of 5."></div>
                                    </div>
                                }
                                
                            </div>
                        </div><br>
                        <hr class="m-0">

                        <div class="horizontal-line mt-4">

                            @if (item.mission.MissionType == 0)
                                {
                                    <button type="button" class="btnn btn-light overlap-button ">
                                        From
                                        @item.mission.StartDate.Value.ToString("dd/MM/yyyy")
                                        until
                                        @item.mission.EndDate.Value.ToString("dd/MM/yyyy")
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btnn btn-light overlap-button">
                                        @item.goalObjective
                                    </button>
                                }
                        </div>

                        <div class="ms-3 me-4">
                            <div class="d-flex">
                                <div class="seat mt-1 ">
                                </div>
                                <div class="mt-1 " style="font-size:14px;width: 67px; ">@item.seatsleft <br>Seats left</div>
                            
                                @if (item.mission.MissionType == 0)
                                {
                                    <div class="deadline ms-auto mt-1 "></div>
                                    <p class="mt-1 ">@item.mission.Deadline.Value.ToString("dd/MM/yyyy") <br>Deadline</p>
                                }
                                else{
                                   <div class="achieved ms-auto mt-1 "></div>
                                <div>
                                    <div class="progress-bar mb-1">
                                        <div class="progress" id="progress" style="width: @item.progressBar%"></div>
                                    </div>
                                    <p>@item.achievedProgress achieved</p>

                                </div>
                                }
                            </div>
                        </div>
                        <hr class="m-0">
                        
                        <div class="card-body pt-0 pb-0  d-flex justify-content-center">
                           @if ( (@item.applied == false && @item.seatsleft != 0) && ( (@item.mission.MissionType==0 && @item.mission.Deadline > DateTime.Now && @item.mission.EndDate > DateTime.Now) || (@item.mission.MissionType == 1 && @item.totalGoal > @item.achievedProgress)) )
                            {
                               <a asp-action="Volunteer" asp-controller="Platform" asp-route-id="@item.mission.MissionId">
                                 <button type="submit" class="applyButton my-2">Apply </button>
                               </a>
                             }
                            else
                            {
                               <a asp-action="Volunteer" asp-controller="Platform" asp-route-id="@item.mission.MissionId">
                                 <button type="submit" class="viewdetails my-2">View Details </button>
                               </a>
                            }
                        </div>
                    </div>
                </div>
                }
           
              
            </div>
        </div>


        <!------------------------------------------------------------------ privacy policy  ------------------------------------------------------------------>
                         @{

                            Html.RenderPartial("Footer");
                   
                         }


    </div>
       

    <script>

        // (1) ------------------------     Giving rate by stars    ---------------------------------------------------------

        $('#Stars').on('click', function (e) {
            var starWidth = $(this).width();
            var posX = e.pageX - $(this).offset().left;
            var missionid = @Model.missionCard.mission.MissionId;
            var rating = Math.ceil(posX / (starWidth / 5));
            $(this).attr('data-rating', rating);
            $(this).css('--rating', rating);

            $.ajax({
                url: "/Platform/UserRating",
                type: "POST",
                data: {
                    'missionid': missionid,
                    'rating': rating
                },
                success: function () {
                    $('#avg_rating').load(location.href + ' #avg_rating  >*');
                    
                    toastr.success('Thanks For Rating', '', {
                        "toastClass": "toast-info"
                });
                },
                error: function () {
                    console.log("hi error");
                }
            });


})

        // (2) ----------------------------     Apply & UnApply mission in volunteering Page  -------------------------------

            function ApplyMission(missionid, data) {
               
                $.ajax({
                    url: "/Platform/ApplyMission",
                    type: "POST",
                    data: {
                        'mId': missionid,
                        'applied': data
                    },
                    success: function (result) {
                        // Update the page with the response
                       setTimeout(function() {
                        location.reload();
                        }, 1000); 
                        if(data == 0){
                                toastr.success('Mission Applied', '', {
                                });
                        }
                        else{
                                toastr.warning('Mission UnApplied', '', {
                                });
                        }
                    },
                    error: function () {
                        console.log("error");
                    }
                });
}
        
        // (3) ---------------------   post comments when clicked on POST COMMENT button if some text is there  -----------------------
        
        $(document).ready(function(){
            $("#post_comment").click(function(){
                if($("#comment_text").val().trim() != ""){
                    PostComment(@Model.missionCard.mission.MissionId);
                }
            });
        });       
        function PostComment(missionid){
            var commentText = $.trim($("#comment_text").val());  
            $.ajax({
                url: "/Platform/Postcomment",
                type: "POST",
                data:{
                    'mID' : missionid,
                    'text' : commentText
                },
                success : function(){
               
                    $('#comment_box').load(location.href + ' #comment_box >*');
                    $("#comment_text").val("");

                    toastr.success('Comment Posted', '', {
                });

                },
                error: function(){
                    console.log("hi error");
                }
            });
        }
        $(".mydiv").eq(0).removeClass("d-none");
       
    </script>


</body>
