@using CI_Platform.Entities.Models
@model List<MissionTheme>



            <div class="table-responsive mt-4">
                <table id="themetable" class="table mb-5">
                    <thead class="bkgclr border">
                        <tr>

                            <th scope="col" class="w-lg-50">Theme Title </th>
                            <th scope="col">Theme ID</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody class="border">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td scope="col">@item.MissionThemeId</td>
                                @if (@item.Status == 1) {<td class="status">Active </td>}
                                else {<td class="deactive">In-Active </td>}
                                <td class="text-center">
                                    <a class="viewTheme" onclick="EditThemebyAdmin(@item.MissionThemeId)"><img class="imghover me-2" src="~/images/editing.png" alt=""></a>
                                    <a  data-bs-toggle="modal" data-bs-target="#exampleModalToggle" onclick="Delete(@item.MissionThemeId , 3);"><img class="imghover" src="~/images/bin.png" alt=""></a>
                                </td>
                            </tr>
                        }
                       
                    </tbody>
                </table>
            </div>
       