@using CI_Platform.Entities.Models
@model List<Skill> 



            <div class="table-responsive mt-4">
                <table id="skilltable" class="table mb-5">
                    <thead class="bkgclr border">
                        <tr>
                            <th scope="col" class="w-lg-50">Skill Name</th>
                            <th scope="col">Skill ID</th>
                            <th scope="col">Status </th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody class="border">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SkillName</td>
                                <td scope="col">@item.SkillId</td>
                                 @if (@item.Status == 1) {<td class="status">Active </td>}
                                else {<td class="deactive">In-Active </td>}
                                <td class="text-center">
                                    <a class="viewSkill" onclick="EditSkillbyAdmin(@item.SkillId)"><img class="imghover me-2" src="~/images/editing.png" alt=""></a>
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModalToggle" onclick="Delete(@item.SkillId , 4);"><img class="imghover" src="~/images/bin.png" alt=""></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
       

          
