@using CI_Platform.Entities.Models
@using CI_Platform.Entities.ViewModels
@model List<StoryAdminModel>


 
            <div class="table-responsive mt-4">
                <table id="storytable" class="table mb-5">
                    <thead class="bkgclr border">
                        <tr>
                            <th scope="col" style="width:519px;">Story Title</th>
                            <th scope="col" style="width:140px;">Full Name</th>
                            <th scope="col" style="width:600px;">Mission Title</th>
                            <th scope="col" style="width:96px;">Status</th>
                            <th scope="col" class="text-center" style="width:141px;">Action</th>
                        </tr>
                    </thead>
                    <tbody class="border">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.story.Title</td>
                                <td>@item.Username</td>
                                <td>@item.MissionTitle</td>
                                @if (@item.story.Status == 2) {<td class="status">Approved </td>}
                                else if(@item.story.Status == 1) {<td class="text-warning">Pending </td>}
                                else {<td class="deactive">Rejected </td>}
                                
                                <td class="text-center">
                                    <div class="d-flex align-items-center justify-content-center"> 
                                        <a class="imghover" onclick="viewStory(@item.story.StoryId)"><button type="button" class="view me-2 my-auto">View</button></a>
                                        @if(item.story.Status == 2)
                                        {
                                            <a class="imghover" onclick="ApprovedStory(@item.story.StoryId)"><i class="fa-regular fa-circle-check fa-lg me-2 my-auto" style="color: #3dd704; visibility:hidden;"></i></a>
                                            <a class="imghover" onclick="RejectedStory(@item.story.StoryId)"><i class="fa-sharp fa-regular fa-lg fa-circle-xmark me-2 my-auto " style="color: #ff0000;"></i></a>
                                        }
                                        else if(item.story.Status == 3){
                                            <a class="imghover" onclick="ApprovedStory(@item.story.StoryId)"><i class="fa-regular fa-circle-check fa-lg me-2 my-auto" style="color: #3dd704;"></i></a>
                                            <a class="imghover" onclick="RejectedStory(@item.story.StoryId)"><i class="fa-sharp fa-regular fa-lg fa-circle-xmark me-2 my-auto " style="color: #ff0000; visibility:hidden;"></i></a>
                                        }
                                       else
                                       {
                                            <a class="imghover" onclick="ApprovedStory(@item.story.StoryId)"><i class="fa-regular fa-circle-check fa-lg me-2 my-auto" style="color: #3dd704;"></i></a>
                                            <a class="imghover" onclick="RejectedStory(@item.story.StoryId)"><i class="fa-sharp fa-regular fa-lg fa-circle-xmark me-2 my-auto " style="color: #ff0000;"></i></a>
                                       }
                                        <a class="imghover" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" onclick="Delete(@item.story.StoryId , 2);"><img src="~/images/bin.png" alt=""></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


                
            </div>
       