@using CI_Platform.Entities.ViewModels

@model PageList<StoryListingPageModel>


<div class="row" id="mission_count" data-count="@Model.TotalCount">
    @if(Model.Records.Count() > 0)
    {
    
  
        @foreach (var item in @Model.Records)
        {
            <!-------------------------------------- Stories  -------------------------------------->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2 pagegridcard">
                <div class="card">
                    <div style="position: relative;">

                        <div class="image-container">
                        @if(item.storyMedium.Count() > 0)
                        {
                            <img src="~/media/@item.storyMedium[0].Path" class=" card-img-top" alt="..." height="200">
                        }
                        else
                        {
                            <img src="~/media/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="Picture" height="200">
                        }

                            <div class="overlay">
                                <a asp-action="StoryDetails" asp-controller="Story" asp-route-id="@item.story.StoryId">
                                <button type="submit">View Details<i class="ms-1 ms-md-1 ms-lg-2  bi bi-arrow-right"></i></button>
                                </a>
                            </div>
                        </div>
                        <button type="button" class="btnn btn-light cat-overlap-button">@item.ThemeName</button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.story.Title</h5>
                    @if(@item.story.Description.Length < 100)
                    {
                        
                        <p class="card-text">@Html.Raw(@item.story.Description)</p>
                    }
                    else
                    {
                        <p class="card-text">@Html.Raw(item.story.Description.Substring(0,110))....</p>
                    }
                    </div>
                    <div class="ms-3  me-4 ">
                        <div class=" d-flex ">
                            <div class=" mt-1">
                                @if (@item.Avtar == null || item.Avtar == "")
                                {
                                    <img src="/media/user1.png" class="story-img img-fluid" alt="profile">
                                }
                                else{
                                    <img src="/media/@item.Avtar" class="story-img img-fluid" alt="profile">
                                }
                                <span>
                                    @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@item.Username.ToLower())
                                </span>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        }
    }

    else
    {
            <!--------------------------------------     story not found   -------------------------------------->
        <div class="p-0 container">
            <br>
            <div class="container d-flex justify-content-center">
                <img class="col-8 col-md-5 col-sm-8" src="~/images/404-Page-image copy.png" alt="">
            </div><br>
            <div>
                <p class="h3 d-flex justify-content-center">No Story Found</p>
            </div>
            <div style="text-align: center;" class=" d-flex justify-content-center">
                <p class="h1"><b >opps!</b>&nbsp; The page you were looking for doesn't exist.</p>
            </div>
            <div>
                <p class=" d-flex justify-content-center">you may have misstyped the address or the page may have moved.</p>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <a asp-controller="Story" asp-action="StoryListing">
                <button type="submit" style="width: 20vh; background-position: 92% 10px;" class="applyButton my-2">Go to Homepage </button>
                </a>
            </div>
        </div>

    }

</div>