@using CI_Platform.Entities.ViewModels
@model StoryAdminModel

    <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">

                    <!-- image slider  -->

                    <div class="container">
                         @foreach (var item in @Model.storyMedium)
                        {
                            @if (item.Type == "video")
                            {
                                <div class="mydiv d-none" id="@item.StoryMediaId">
                                    <iframe style="width: 100%;" height="500" src="@item.Path"></iframe>
                                </div>
                            }
                            else
                            {
                                <div class="mydiv d-none" id="@item.StoryMediaId">
                                    <img src="~/media/@item.Path"  style="width: 100%;" height="500" alt="">
                                </div>
                            }
                        }

                        <div class="container mt-2" id="img-list">
                            <div class="row " style="position: relative;">
                               @foreach (var item in @Model.storyMedium)
                                {
                                    @if (item.Type == "video")
                                    {
                                        <div class="col mx-1 p-0 myimg d-none">
                                            <img src="https://img.youtube.com/vi/@(item.Path.Substring(@item.Path.LastIndexOf("/")+1))/default.jpg" height="120" style="width: 100%;"  onclick="select(@item.StoryMediaId)">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col mx-1 p-0 myimg d-none">
                                            <img src="~/media/@item.Path" height="120" style="width: 100%;" alt="" onclick="select(@item.StoryMediaId)">
                                        </div>
                                    }
                                }

                                <a class="prev" onclick="prev()"></a>
                                <a class="Next" onclick="next()"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- mission related content  -->
                <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
                    <div class="d-flex">
                        <div class="col vol-item">
                            <h5>User Name </h5>
                            <div class="vol-name">@Model.Username </div>
                        </div>
                    </div>
                    <br>
                    <h5>Story Title </h5>
                    <p class="mt-3">@Model.story.Title</p>
                    <br>
                    <h5>Story Description </h5>
                    <p class="mt-3">@Html.Raw(@Model.story.Description)</p>
                    <br>
                    <h5>Story Description </h5>
                    <p class="mt-3">@Model.MissionTitle</p>
                </div>
            </div><br><br>
      </div>