@using CI_Platform.Entities.ViewModels
@using System.Globalization
@using System.Security.Claims
@model AdminModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/DataTable.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Admin Page</title>

</head>

<body>



    <header>
        <!------------------------------------------   Sidebar    ------------------------------------------>

        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse ">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <div class="py-3" style="font-size: 16px;color: #fff;">NAVIGATION</div>
                    <a id="usertab" class="list-group-item list-group-item-action py-2 my-2 ripple active" aria-current="true">
                        <i class="fa-solid fa-user fa-lg me-3"></i><span>User</span>
                    </a>

                    <a id="cmstab" class="list-group-item list-group-item-action py-2 my-2 ripple " aria-current="true">
                        <i class="fa-solid fa-file-lines fa-lg me-3"></i><span>CMS Page</span>
                    </a>
                    <a id="missiontab" class="list-group-item list-group-item-action py-2 my-2 ripple">
                        <i class="fa-solid fa-bullseye fa-lg me-3"></i><span>Mission</span></a>
                    <a id="missionThemetab" class="list-group-item list-group-item-action py-2 my-2 ripple">
                        <i class="fa-solid fa-square fa-lg me-3"></i><span>Mission Theme</span></a>
                    <a id="missionskilltab" class="list-group-item list-group-item-action py-2 my-2 ripple">
                        <i class="fa-solid fa-screwdriver-wrench fa-lg fa-flip-horizontal me-3"></i><span>Mission
            Skills</span>
                    </a>
                    <a id="missionapplicationtab" class="list-group-item list-group-item-action py-2 my-2 ripple">
                        <i class="fa-solid fa-folder fa-lg me-3"></i><span>Mission Application</span></a>
                    <a id="storytab" class="list-group-item list-group-item-action py-2 my-2 ripple">
                        <i class="fa-solid fa-duotone fa-lg fa-book-tanakh me-3"></i><span>Story</span></a>
                    <a id="bannertab" class="list-group-item list-group-item-action py-2 my-2 ripple">
                        <i class="fa-brands fa-stripe-s fa-lg fa-rotate-90 me-3"></i><span>Banner Management</span></a>

                </div>
            </div>
        </nav>

        <!------------------------------------------   Navbar    ------------------------------------------>
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">

            <!-- Container wrapper -->
            <div class="container-fluid">

                <!-- Toggle button -->
                <button class="navbar-toggler mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </nav>

    </header>


    <!------------------------------------------   Main layout   ------------------------------------------>
    <main>
        <!----------------------------------------------------    header    ---------------------------------------------------->

        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow rounded">
            <div class="container-fluid">

                <button class="navbar-toggler mt-5 ms-auto mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
              </button>
                <div class="collapse navbar-collapse " id="navbarNavDropdown">
                    <div>
                        <p class="f3 my-auto" id="current-date-time"></p>
                    </div>
                    <div class="ms-auto">

                        <ul id="updateprofile" class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <div class=" d-flex">

                                <li class="nav-item dropdown my-auto">
                                    <a class="fontheader1 nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @if(Context.User?.FindFirst("Avatar") == null)
                                        {
                                            <img class="me-1" src="~/media/user1.png" style="border-radius: 50%; height: 40px;width: 40px;" alt="profile"> 
                                            
                                        }
                                            
                                        <img class="me-1" src="~/media/@User.FindFirst("Avatar")?.Value" style="border-radius: 50%; height: 40px;width: 40px;" alt="profile"> 
                                                @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@User.FindFirst(ClaimTypes.Name)?.Value.ToLower())
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end text-start" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" asp-action="Logout" asp-controller="User">Logout</a></li>
                                    </ul>
                                </li>
                            </div>
                        </ul>

                    </div>
                </div>
            </div>
        </nav>

        <!----------------------------------------------------    User    ---------------------------------------------------->
        
        <div id="user" class="container-fluid">

                        <div class="mt-5 tabs">
                            <ul class="">
                                <li class="active">
                                    <h5>User</h5>
                                </li>
                            </ul>
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <div class="col-lg-3 col-md-4">
                                <input type="search" id="userSearch" class="form-control rounded" style="margin-right: -20px; width:90%;" placeholder="Search">

                            </div>
                            <div>
                                <button id="useradd" type="button" class="orangeButton" onclick="CountryList();"><i class="fa-solid fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <div id="alluserdiv">
                            <partial name="_UserAdminPartial" model="Model.user"></partial>
                        </div>
        </div>

        <!----------------------------------------------------    add User    ---------------------------------------------------->

       <div id="adduser" class="container-fluid d-none">
            <div class="mt-4">
                <div class="w-100 bkgclr border p-3"> Add</div>
                <div class="border p-4 ms-auto bg-white">
                    <div class="container-fluid">
                        <div style="color:red;" id="Message" class="fs-5 fw-bold text-center mt-1 mb-1"></div> 
                        <div class="row">
                            <div class="container col-lg-3 col-10 border text-center p-3 mb-3" style="height: 340px;">
                                <input type="file" id="userProfile" accept="image/*" style="display:none" onchange="validUserImage();"/>
                                <div id="userProfileDiv">
                                    <img src="~/media/user1.png" id="userAvtar" class="img-fluid rounded-circle userPicture" onclick="addUserProfilePicture()" alt="Profile">
                                </div>
                                <div id="FLname" class="pt-2"><b id="userName"></b></div>
                                <div class="mt-4" id="img_error"></div>
                            </div>
                            <div class="col-lg-9 ps-lg-5 mt-lg-0 mt-sm-4 mt-5">
                                <div class="tabs">
                                    <ul class="">
                                        <li class="active">
                                            <h5>Basic Information</h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group row mt-3">
                                    <div class="col-lg-6 col-sm-12">
                                        <label for="username">Name*</label>
                                        <input type="text" class="form-control" id="Fname" placeholder="Enter your name" >
                                        <span id="fname_error"></span>
                                    </div>

                                    <div class="col-lg-6 col-sm-12 ">
                                        <label for="Surname ">Surname*</label> 
                                        <input type="text" class="form-control" id="Lname" placeholder="Enter your surname" />
                                        <span id="lname_error"></span>
                                    </div>
                                </div>

                                <div class="form-group row mt-3">
                                    <div class="col-lg-6 col-sm-12">
                                        <label for="Employee">Email ID</label>
                                        <input type="text" class="form-control" id="EmailId" placeholder="Enter your email id" >
                                        <span id="email_error"></span>
                                    </div>

                                    <div class="col-lg-6 col-sm-12 ">
                                        <label for="Manager">Password</label>
                                            <input type="password" class="form-control" id="PassWord" placeholder="Enter your password" onkeyup="password_verification();"/>
                                            <span id="pass_error"></span>
                                            <div id="password_error" style="color:red;"></div>
                                    </div>
                                </div>


                                <div class="form-group row mt-3">
                                    <div class="col-lg-6 col-sm-12">
                                        <label for="Title">Employee ID</label>
                                        <input type="text" class="form-control" id="EmpId" placeholder="Enter your employee id">
                                    </div>

                                    <div class="col-lg-6 col-sm-12 ">
                                        <label for="Department">Department</label>
                                        <div class="input-group date ">
                                            <input type="text" class="form-control" id="Dept" placeholder="Enter your manager details" value=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <label for="Profile">My Profile*</label>
                                    <textarea class="form-control" id="ProfileTxt" rows="3" placeholder="Enter your comments..."></textarea>
                                    <span id="profile_error"></span>
                                </div>
                                
                                <div class="mt-3 tabs">
                                    <ul class="">
                                        <li class="active">
                                            <h5>Address Information</h5>
                                        </li>
                                </div>
                                <div class="form-group row mt-3">
                                    <div class="col-lg-6 col-sm-12">
                                        <label for="Employee">City</label>
                                        <div class="input-group">
                                            <select class="form-select" id="CityId">
                                                <option selected disabled value="0">Select your city</option>
                                                    
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12 ">
                                        <label for="Manager">Country*</label>
                                        <div class="input-group">
                                            <select class="form-select" onchange="CitybyCountryForAdmin();" id="Country">
                                                <option selected disabled value="0">Select your country</option>
                                                   
                                            </select>
                                        </div>
                                        <span id="country_error"></span>
                                    </div>
                                </div>
                                <div class="mt-3 tabs">
                                    <ul class="">
                                        <li class="active">
                                            <h5>Professional Information</h5>
                                        </li>
                                </div>

                                <div class="form-group row mt-3">
                                    <div class="col-lg-6 col-sm-12 ">
                                        <label for="Manager">Status</label>
                                        <div class="input-group date ">
                                            <select class="form-select" id="Status">
                                                <option selected disabled>Select User status</option>
                                                <option value="0">In-Active</option>
                                                <option value="1">Active</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-end">

                    <button type="button" id="Cancle" class="btnn cancle-btnn me-2">cancel</button>
                    <button type="button" id="save" class="orangeButton" onclick="AddUserbyAdmin(userAddEditid)">Save</button>
                </div>

                <br />
            </div>
       </div>
        <!----------------------------------------------------    CMS page    ---------------------------------------------------->

        <div id="cms" class="container-fluid d-none">

            <div class="mt-5 tabs">
                <ul class="">
                    <li class="active">
                        <h5>CMS Page</h5>
                    </li>
                </ul>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <div class="col-lg-3 col-md-4">
                    <input type="search" id="cmsSearch" class="form-control rounded" style="margin-right: -20px; width:90%;" placeholder="Search">

                </div>
                <div>
                    <button type="button" id="addcms" class="orangeButton"><i class="fa-solid fa-plus"></i> Add</button>

                </div>
            </div>

            <div id="cmsDiv">
                <partial name="_CMSAdminPartial" model="Model.cms"></partial>
            </div>
        </div>

        <!----------------------------------------------------    CMS add & edit    ---------------------------------------------------->

        <div id="add" class="container-fluid d-none">
            <div class="mt-4">
                <div class=" w-100 bkgclr border p-3"> Add</div>
                <div class="border p-4 ms-auto bg-white">
                    <div class="container-fluid">
                        <label for="username">Title</label>
                        <input type="text" class="form-control" id="title">
                        <div id="title_error"></div>

                        <label class="mt-3" for="story">Description</label>
                        <textarea name="Description" id="editor" rows="20"></textarea>
                        <div id="desc_error"></div>

                        <label class="mt-3" for="username">Slug</label>
                        <input type="text" class="form-control" id="slug">

                        <label class="mt-3" for="username">Status</label>
                        <select class="form-select" aria-label="Default select example" id="status" onchange="">
                            <option selected disabled></option>
                            <option value="1">Active</option>
                            <option value="0">In-Active</option>
                        </select>
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-end">

                    <button type="button" id="cancleCMS" class="btnn cancle-btnn me-2">cancel</button>
                    <button type="button" class="orangeButton" onclick="AddCMS(CMSId)">Save</button>
                </div>

                <br />
            </div>
        </div>

        <!----------------------------------------------------    Mission    ---------------------------------------------------->

        <div id="mission" class="container-fluid d-none">

            <div class="mt-5 tabs">
                <ul class="">
                    <li class="active">
                        <h5>Mission</h5>
                    </li>
                </ul>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <div class="col-lg-3 col-md-4">
                    <input type="search" id="missionSearch" class="form-control rounded" style="margin-right: -20px; width:90%;" placeholder="Search">
                </div>
                <div>
                    <button type="button" id="missionadd" class="orangeButton"><i class="fa-solid fa-plus"></i> Add</button>

                </div>
            </div>
            <div id="missionDiv">
                 <partial name="_MissionAdminPartial" model="Model.missionModel"></partial>
            </div>
        </div>

        <!----------------------------------------------------    Story    ---------------------------------------------------->

        <div id="story" class="container-fluid d-none">

            <div class="mt-5 tabs">
                <ul class="">
                    <li class="active">
                        <h5>Story</h5>
                    </li>
                </ul>
            </div>

            <div class="d-flex mt-4">
                <div class="col-lg-3 col-md-4">
                    <input id="storySearch" type="search" class="form-control rounded" style="margin-right: -20px; width:90%;" placeholder="Search">
                </div>
            </div>
            <div id="storyDiv">
                <partial name="_StoryAdminPartial" model="Model.story"></partial>
            </div>
        </div>

       
        <!---------------------------------------------------- view Story ---------------------------------------------------->

        <div id="viewstory" class="container-fluid d-none">

            <div class="mt-5 tabs">
                <ul class="">
                    <li class="active">
                        <h5> Story</h5>
                    </li>
                </ul>
            </div>

            <div id="viewStoryDiv">
                <partial name="_ViewStoryAdminPartial" model="Model.storyView"></partial>
            </div>

            <div class="mt-3 mb-3">
                <button type="button" id="cancleStory" class="btnn cancle-btnn me-2">cancel</button>
            </div>
        </div>

        <!---------------------------------------------------- Mission Application ---------------------------------------------------->
       
        <div id="missionapplication" class="container-fluid d-none">

            <div class="mt-5 tabs">
                <ul class="">
                    <li class="active">
                        <h5>Mission Application</h5>
                    </li>
                </ul>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <div class="col-md-3">
                    <input type="search" id="MissionAppSearch" class="form-control rounded" placeholder="Search">

                </div>
               
            </div>
            <div id="missionAppDiv">
                <partial name="_MissionApplicationAdminPartial" model="Model.missionApplication"></partial>
            </div>
        </div>

        <!---------------------------------------------------- Banner Management ---------------------------------------------------->

        <div id="banner" class="container-fluid d-none">

            <div class="mt-5 tabs">
                <ul class="">
                    <li class="active">
                        <h5>Banner Management</h5>
                    </li>
                </ul>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <div class="col-md-3">
                    <input type="search" id="bannerSearch" class="form-control rounded" placeholder="Search">

                </div>
                <div>
                    <button type="button" id="banneradd" class="orangeButton"><i class="fa-solid fa-plus"></i> Add</button>
                </div>
            </div>

            <div id="bannerDiv">
                <partial name="_BaneerAdminPartial" model="Model.banner"></partial>
            </div>
        </div>

        <!----------------------------------------------------   Add Banner Management ---------------------------------------------------->

       <div id="addBanner" class="container-fluid d-none">
        <div class="mt-4">
            <div class=" w-100 bkgclr border p-3"> Add</div>
            <div class="border p-4 ms-auto bg-white">
                <div class="container-fluid">



                    <label for="username" class="mt-3"> Text</label>
                    <input type="text" id="BannerText" class="form-control" placeholder="Enter Text">
                    <br>
                    <label for="username">Sort Order</label>
                    <input type="number" id="bannerSortOrder" class="form-control" placeholder="Enter Sort Order">
                    <lable id="sort_error"></lable>
                    <br><br>
                    <label for="photos">Upload your photos</label>
                    <div class="" id="dropzone-banner">
                        <div class="picture-container">
                            <div class="picture">
                                <img src="/images/drag-and-drop.png">
                                <input type="file" name="fileList" id="photo-input">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="preview-container-banner"></div>
                    <lable id="image_error"></lable>

                    <br><br>


                </div>
            </div>
            <div class="mt-3 d-flex justify-content-end">

                <button type="button" id="cancleBanner" class="btnn cancle-btnn me-2" >
                    cancel
                </button>
                <button type="button" class="orangeButton" onclick="AddBanner(bannerAddEditId)">Save</button>
            </div>
            <br />

        </div>
       </div>
         <!---------------------------------------------------- add Mission ---------------------------------------------------->

        <div id="addmission" class="container-fluid d-none">
            <div class="mt-4">
                <div class=" w-100 bkgclr border p-3"> Add</div>
                <div class="border p-4 ms-auto bg-white">
                    <div class="container-fluid">

                        <form method="post" id="storyform" enctype="multipart/form-data">

                            <label for="username" class="mt-3"> Mission</label>
                            <input type="text" id="missionTitle" class="form-control" placeholder="Enter Mission Title">

                            <div class="form-group row mt-3">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="username">Mission Type</label>
                                    <select class="form-select" id="missionType" onchange="openAction();" aria-label="Default select example">
                                        <option value="" selected>Select Mission Type</option>
                                        <option value="0">Time Based</option>
                                        <option value="1">Goal Based</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="username">Total Seats</label>
                                    <input type="number" id="totalSeats" class="form-control" placeholder="Enter Total Mission">
                                </div>
                            </div>

                            <div class="form-group row mt-3 d-none" id="ForGoal">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="username">Action</label>
                                    <input type="number" id="MissionGoalAction" class="form-control" placeholder="Enter Action">
                                </div>

                                <div class="col-lg-6 col-sm-12">
                                    <label for="username">Goal Objective</label>
                                    <input type="text" id="MissionGoalObjective" class="form-control" placeholder="Enter Goal Objective">
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <div class="col-lg-4 col-sm-12">
                                    <label for="username"> Theme</label>
                                    <select class="form-select" id="missionTheme" aria-label="Default select example">
                                        <option value="" selected>Select Mission Theme</option>
                                        @foreach (var item in Model.ThemeList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <label for="username">Country</label>
                                    <select class="form-select" id="missionCountry" onchange="CitybyCountryForAdminMission()" aria-label="Default select example">
                                        <option value="" selected>Select Mission Country</option>
                                        @foreach (var item in Model.CountryList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-lg-4 col-sm-12">
                                    <label for="date">City</label>
                                    <select class="form-select" id="missionCity" aria-label="Default select example">
                                        <option value="" selected>Select Mission City</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mt-3">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="story">Description</label>
                                    <textarea name="Description" id="missionDesc" ></textarea>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="story">Short Description</label>
                                    <textarea name="Description" id="missionSDesc" ></textarea>
                                </div>
                            </div>
                            <br>
                            
                            <div class="form-group row mt-3">
                                <div class="col-lg-4 col-sm-12">
                                    <label for="date">Start Date</label>
                                    <div class="input-group date">
                                        <input type="date" class="form-control" id="MSdate" placeholder="Select Date" />
                                    </div>

                                </div>

                                <div class="col-lg-4 col-sm-12" id="EndDate">
                                    <label for="date">End Date</label>
                                    <div class="input-group date">
                                        <input type="date" class="form-control" id="MEdate" placeholder="Select Date" />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-12" id="Deadline">
                                    <label for="date">Deadline</label>
                                    <div class="input-group date">
                                        <input type="date" class="form-control" id="MDdate" placeholder="Select Date" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <div class="col-lg-4 col-sm-12">
                                    <label for="username">Organization Name</label>
                                    <input type="text" class="form-control" id="missionOrgnztn" placeholder="Enter Organization Name">
                                </div>
                                <div class="col-lg-8 col-sm-12">
                                    <label for="username">Organization Details</label>
                                    <input type="text" class="form-control" id="missionOrgnztnDetail" placeholder="Enter Organization Details">
                                </div>
                            </div>
                            
                             <label class="mt-3" for="username">Enter Video URL</label>
                             <textarea id="videoURL" class="form-control" placeholder="Enter Your URL" rows="2"></textarea>

                             
                             

                             <label class="mt-3" for="skill">Add Mission Skills</label>
                            <textarea class="form-control" id="skillText" rows="5" disabled ></textarea><br>
                            <button type="button" class="btnn cancle-btnn" data-bs-toggle="modal" data-bs-target="#exampleModal2">Add Skill</button>
                            <br />
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="selectname ms-1">
                                        <label class="" for="upload">Upload your documents</label>
                                    </div>
                                    <input type="file" id="docfile" class="d-none" multiple />
                                    <span class="btnn cancle-btnn mt-3" id="docbtn">
                                        Browse
                                    </span>
                                    <br />
                                    <ul class="p-2" id="doclist"> </ul>
                                </div>
                            </div>

                            
                            <label for="photos">Upload your photos</label>
                            <div class="" id="dropzone" >
                            <div class="picture-container">
                                <div class="picture">
                                    <img src="/images/drag-and-drop.png">
                                    <input type="file" name="fileList" id="file-input"  multiple>
                                </div>
                            </div>
                            </div>
                            <br />
                            <div id="preview-container"></div>
                            <br><br>
                        </form>

                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-end">

                    <button type="button" id="cancleMission" class="closebox btnn cancle-btnn me-2" >cancel</button>
                    <button type="button" class="orangeButton" onclick="AddMission(MissionID)">Save</button>
                </div>
                <br />

            </div>
        </div>

        <!---------------------------------------------------- Mission theme ---------------------------------------------------->

        <div id="missiontheme" class="container-fluid d-none">

            <div class="mt-5 tabs">
                <ul class="">
                    <li class="active">
                        <h5>Mission Theme</h5>
                    </li>
                </ul>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <div class="col-md-3">
                    <input type="search" id="themeSearch" class="form-control rounded" placeholder="Search">

                </div>
                <div>
                    <button type="button" id="addTheme" class="orangeButton"><i class="fa-solid fa-plus"></i> Add</button>

                </div>
            </div>
            <div id="themeDiv">
                <partial name="_MissionThemeAdminPartial" model="Model.missionTheme"></partial>
            </div>
         </div>
        <!----------------------------------------------------     add & edit Mission theme   ---------------------------------------------------->

        <div id="addMissionTheme" class="container-fluid d-none">
            <div class="mt-4">
                <div class=" w-100 bkgclr border p-3"> Add</div>
                <div class="border p-4 ms-auto bg-white">
                    <div class="container">

                        <label for="username">Theme Title</label>
                        <input type="text" class="form-control" id="Themetitle">
                        <div id="Mtitle_error"></div>

                        
                        <label class="mt-3" for="username">Status</label>
                        <select class="form-select" aria-label="Default select example" id="Themestatus">
                            <option selected disabled></option>
                            <option value="1">Active</option>
                            <option value="0">In-Active</option>
                        </select><br />
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-end">

                    <button type="button" id="cancleTheme" class="btnn cancle-btnn me-2">cancel</button>
                    <button type="button" class="orangeButton" onclick="AddTheme(ThemeID)">Save</button>
                </div>

                <br />
            </div>
        </div>

        <!---------------------------------------------------- Mission skill ---------------------------------------------------->

        <div id="missionskill" class="container-fluid d-none">

            <div class="mt-5 tabs">
                <ul class="">
                    <li class="active">
                        <h5>Mission Skill</h5>
                    </li>
                </ul>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <div class="col-md-3">
                    <input type="search" id="skillSearch" class="form-control rounded" placeholder="Search">

                </div>
                <div>
                    <button type="button" id="addSkill" class="orangeButton"><i class="fa-solid fa-plus"></i> Add</button>

                </div>
            </div>
            <div id="skillDiv">
                <partial name="_MissionSkillAdminPartial" model="Model.missionSkill"></partial>
            </div>
         </div>

         <!----------------------------------------------------     add & edit Mission skill   ---------------------------------------------------->

        <div id="addMissionSkill" class="container-fluid d-none">
            <div class="mt-4">
                <div class=" w-100 bkgclr border p-3"> Add</div>
                <div class="border p-4 ms-auto bg-white">
                    <div class="container">

                        <label for="username">Skill Name</label>
                        <input type="text" class="form-control" id="skillname">
                        <div id="skill_error"></div>

                        
                        <label class="mt-3" for="username">Status</label>
                        <select class="form-select" aria-label="Default select example" id="Skillstatus">
                            <option selected disabled></option>
                            <option value="1">Active</option>
                            <option value="0">In-Active</option>
                        </select>
                        <br />
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-end">

                    <button type="button" id="cancleSkill" class="btnn cancle-btnn me-2">cancel</button>
                    <button type="button" class="orangeButton" onclick="AddSkill(SkillID);">Save</button>
                </div>

                <br />
            </div>
        </div>


    </main>

<!---------------------------------- modal for delet sheet  ---------------------------------->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <b> Are You sure you want to delete this item ?</b>
                </div>
                <div class="modal-footer">
                    <button type="button" id="yes" data-bs-dismiss="modal" class="yes orangeButton">Yes</button>
                    <button type="button" class="orangeButton" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <b> Are You sure you want to delete this item ?</b>
                </div>
                <div class="modal-footer">
                    <button type="button" id="yescms" data-bs-dismiss="modal" class="orangeButton">Yes</button>
                    <button type="button" class="orangeButton" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    @*modal for add skill*@
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header b-0">
                                <h5 class="modal-title mx-2" id="exampleModalLabel" style="color:#414141;">Add your Skills</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row justify-content-center">
                                    <div class="col-5 border selected p-0" id="selected">
                                        <ul style="cursor:pointer;">
                                            @foreach (var item in Model.SkillList)
                                            {
                                                if(item.Selected == false)
                                                {
                                                    <li value="@item.Value" >@item.Text</li>
                                                }
                                            }
                                            
                                        </ul>
                                    </div>
                                    <div class="col-1 justify-content-center my-auto">
                                        <div class="text-center" style="cursor:pointer;" id="left">&lt;</div>

                                        <div class="text-center" style="cursor:pointer;" id="right">&gt;</div>
                                    </div>

                                    <div class="col-5 border selected-skills" id="selected-skills">
                                        <ul style="cursor:pointer;">
                                            @foreach (var item in Model.SkillList)
                                            {
                                                if(item.Selected == true)
                                                {
                                                    <li value="@item.Value" >@item.Text</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer d-flex justify-content-start">

                                <button type="button" class="btnn cancle-btnn" data-bs-dismiss="modal">cancel</button>
                                <button type="button" class="orangeButton" id="saveSkills" data-bs-dismiss="modal">save</button>
                            </div>
                        </div>
                    </div>
    </div>


</body>
<!----------------------------------------------------    java script    ---------------------------------------------------->

<script src="//cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>*@

<script>
    var userAddEditid;
    var CMSId;
    var ThemeID;
    var SkillID;
    var MissionID;
    var bannerAddEditId;

    $("#current-date-time").html(new Date().toLocaleString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true }));
    setInterval(function () {
        $("#current-date-time").html(new Date().toLocaleString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true }));
    }, 60000);


    // -------------------------------------   Getdata & Setdata of CKEditor   ----------------------------------------------------------------//
    // Custom Text Editor
    CKEDITOR.replace('editor');
    CKEDITOR.replace('missionDesc');
    CKEDITOR.replace('missionSDesc');

    // Get the editor instance
    var editor = CKEDITOR.instances.editor;
    var Desc = CKEDITOR.instances.missionDesc;
    var SDesc = CKEDITOR.instances.missionSDesc;

    editor.config.height = '330px';
    
    // Get the contents of the editor
    var contents = editor.getData();
    var contents1 = Desc.getData();
    var contents2 = SDesc.getData();

</script>

         <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
         <script src="~/js/DataTable.js" asp-append-version="true"></script>
         <script src="~/js/Datatable1.js" asp-append-version="true"></script>
         <script src="~/js/Admin.js" asp-append-version="true"></script>
         <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

        
</html>