@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin_control";
    ViewData["css"] = "Admin.css";
}
@model CI.Models.ViewModels.Banner
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="c p-3">
    <div class="my-3 ">
        <div class="fs-3 d-flex">
            <div class="border-bottom border-dark pe-3">
                Banner
            </div>
        </div>
        <hr class="m-0 p-0">
    </div>

    <div class="py-3 d-flex justify-content-between align-items-center">
        <form method="get" asp-area="Admin" asp-controller="Story" asp-action="Banner">
            <div class="input-group">
                <input type="text" class="form-control mainLoginInput" name="searchString" value="@ViewData["search"]"  placeholder="&#61442; Search Here">
                <div class="input-group-append">
                   
                </div>
            </div>
        </form>
        <button class="btn applyButton" onclick="AddBanner()">
            + Add
        </button>
    </div>

    <div class="w-100 h-100">
        <table class="table border">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Text</th>
                    <th>Order</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BannerList)
                {
                    <tr>
                        <td class="w-25">
                            <img class="" src="@item.Image" alt="Not Found" id="@item.Image-@item.Image" />
                        </td>
                        <td>@item.Text</td>
                        <td>@item.SortOrder</td>
                        <td>
                            <img class="height m-2" onclick="BannerRecord(@item.BannerId)" src="~/images/edit.png" />
                            <img class="height m-2" onclick="DeleteBanner(@item.BannerId)" src="~/images/bin.png" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center mt-3">
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link m-1" asp-action="Banner" asp-route-pageNumber="1" asp-route-search="@ViewData["search"]">First</a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                        <a class="page-link m-1" asp-action="Banner" asp-route-pageNumber="@i" asp-route-search="@ViewData["search"]">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageNumber == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link m-1" asp-action="Banner" asp-route-pageNumber="@Model.TotalPages" asp-route-search="@ViewData["search"]">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>






@*edit Banner*@
@{
    @foreach (var item in Model.BannerList)

    {
        //<div class="modal fade" id="deleterec-@item.BannerId" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal fade" id="deleterec-@item.BannerId" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <form asp-action="EditBanner" asp-area="Admin" asp-controller="Story" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <input name="id" id="id" type="hidden" value="@item.BannerId" />

                            <h5 class="modal-title" id="staticBackdropLabel">Edit Your Saved Banner</h5>
                        </div>
                        <div class="modal-body">
                            <div class="page-1">
                                <div class=" mt-2">
                                    <label class="form-label">My Banner Text</label>
                                    @*
                                        <input class="form-control title" asp-for=@item.Text    type="text" placeholder="Enter Story Title" />
                                        <input class="form-control title" asp-for="@item.Text" name="banner-@item.BannerId-text" type="text" placeholder="Enter Story Title" />
                                    *@
                                    <input class="form-control title" asp-for=@item.Text name="Text" id="Text" type="text" placeholder="Enter Story Title" required/>
                                    <span asp-validation-for=banner.Text class="text-danger d-block"></span>

                                </div>


                                <div class="page-1 ">
                                    <div class="video-url w-100 mt-4">
                                        <label class="form-label">Enter Order</label>
                                        @*
                                            <input class="form-control video" type="number" asp-for=@item.SortOrder  placeholder="Please select number" />
                                        *@
                                        <input class="form-control video" asp-for=@item.SortOrder name="SortOrder" id="SortOrder" type="number" placeholder="Please select number" required />
                                        <span asp-validation-for=banner.SortOrder class="text-danger d-block"></span>

                                    </div>


                                    @**@
                                    <div class="form-group mt-3">
                                        <label>Images</label>
                                        <input type="file" name="files" multiple />
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn applyButton" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn applyButton">Submit</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}




@*add banner*@

<div class="modal fade" id="addbanner" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form asp-action="AddBanner" asp-area="Admin" asp-controller="Story" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Edit Your New Banner</h5>
                </div>
                <div class="modal-body">
                    <div class="page-1">
                        <div class=" mt-2">
                            <label class="form-label">My Banner Text</label>
                            <input class="form-control title" asp-for=banner.Text type="text" placeholder="Enter Banner Text"  required/>
                            <span asp-validation-for=banner.Text class="text-danger d-block"></span>
                        </div>


                        <div class="page-1 ">
                            <div class="video-url w-100 mt-4">
                                <label class="form-label">Enter Order</label>
                                <input class="form-control video" type="number" asp-for=banner.SortOrder placeholder="Please select number" required />
                                <span asp-validation-for=banner.SortOrder class="text-danger d-block"></span>

                            </div>


                            @**@
                            <div class="form-group mt-3">
                                <label>Images</label>
                                <input type="file" name="files" multiple  required/>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn applyButton" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn applyButton">Submit</button>

                </div>
            </form>
        </div>
    </div>
</div>



@*Modal of Delete*@

@{
    foreach (var item in Model.BannerList)
    {



        <div class="modal fade" id="deleter-@item.BannerId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form asp-action="DeleteBanner" asp-area="Admin" asp-controller="story">
                        @*
                            <input name="flag" id="flag" type="hidden" value="" />
                        *@
                        <div class="modal-header border-0">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to change?</h1>
                        </div>

                        <input name="id" id="id" type="hidden" value=@item.BannerId />

                        <div class="modal-footer">
                            <button class="btn btn-danger rounded-pill" type="submit">Delete</button>
                            <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

<script src="~/js/Admin.js"></script>