@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accesor
@{
    ViewData["Title"] = "Admin_control";
    ViewData["css"] = "Admin.css";
}
@model List<Skill>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    if (@ViewData["SkillDecline"] == "SkillExit")
    {

        <script>
            toastr.error("Skill Already Available")
        </script>
    }
      if (@ViewData["SkillDecline"] == "SkillEmpty")
    {

        <script>
            toastr.error("Please Enter value")
        </script>
    }
}
<div class="c p-3">
    <div class="my-3 ">
        <div class="fs-3 d-flex">
            <div class="border-bottom border-dark pe-3">
                Mission Skill
            </div>
        </div>
        <hr class="m-0 p-0">
    </div>
    <div class="py-3 d-flex justify-content-between align-items-center">
        <form method="get" asp-area="Admin" asp-controller="Mission" asp-action="MissionSkill">
            <div class="input-group">
                <input type="text" class="form-control mainLoginInput" name="searchString" value="@ViewData["SearchString"]"  placeholder="&#61442; Search Here">
                <div class="input-group-append">
                </div>
            </div>
        </form>
        <button class="btn applyButton" onclick="SkillGenerate()">
            + Add
        </button>
    </div>
    <div class="w-100 h-100">
        <table class="table border ">
            <thead class=" ">
                <tr class="rounded-3">
                    <th>Skill ID</th>
                    <th>Mission Skill</th>
                    <th>Status</th>
                    <th>Action</th>



                </tr>
            </thead>


            @{
                foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@item.SkillId</td>
                            <td>@item.SkillName</td>
                            <td>
                                @if (@item.Status == 1)
                                {
                                    <p class="text-success">Active</p>
                                }
                                else
                                {
                                    <p class="text-danger">Deactive</p>
                                }
                            </td>

                            <td>
                                <img onclick="SkillDecline(@item.SkillId)" src="~/images/edit.png" style="margin: 3px 3px 3px 3px;" />
                                @*
                                    <button onclick="SkillDecline(@item.SkillId)" class="btn btn-success">Edit</button>
                                    <img onclick="SkillDecline(@item.SkillId,0)" src="~/images/bin.png" style="margin: 3px 3px 3px 3px;" />
                                *@
                            </td>


                        </tr>
                    </tbody>
                }
            }
        </table>

        @*pagination*@
        @if (ViewData["TotalPages"] != null && (int)ViewData["TotalPages"] > 1)
        {
            <div class="position-absolute bottom-10 end-50 mt-3">
                <nav>
                    <ul class="pagination">
                        @if ((int)ViewData["CurrentPage"] > 1)
                        {
                            <li class=" m-1 page-item"><a class="page-link" href="@Url.Action("MissionSkill", new { page = (int)ViewData["CurrentPage"] - 1, searchString = ViewData["SearchString"] })">Previous</a></li>
                        }
                        @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
                        {
                            if (i == (int)ViewData["CurrentPage"])
                            {
                                <li class=" m-1 page-item active"><a class="page-link" href="#">@i</a></li>
                            }
                            else
                            {
                                <li class=" m-1 page-item"><a class="page-link" href="@Url.Action("MissionSkill", new { page = i, searchString = ViewData["SearchString"] })">@i</a></li>
                            }
                        }
                        @if ((int)ViewData["CurrentPage"] < (int)ViewData["TotalPages"])
                        {
                            <li class="m-1 page-item"><a class="page-link" href="@Url.Action("MissionSkill", new { page = (int)ViewData["CurrentPage"] + 1, searchString = ViewData["SearchString"] })">Next</a></li>
                        }
                    </ul>
                </nav>
            </div>
        }


    </div>
</div>


@*edit*@
@{
    foreach (var item in Model)
    {

        <div class="modal fade" id="deleterec-@item.SkillId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form asp-action="SkillDecline" asp-area="Admin" asp-controller="Mission">
                        <input name="id" id="id" type="hidden" value="@item.SkillId" />
                        @*
                            <input name="flag" id="flag" type="hidden" />
                        *@
                        <div class="modal-header border-0">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to change?</h1>
                        </div>
                        <div class="modal-body ">
                            <label> Theme name if you want to change  </label>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Theme Name</span>
                                </div>
                                <input name="skillname" id="skillname" value="@item.SkillName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                            </div>
                            @*
                                <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Status (0 & 1)</span>
                                </div>
                                <input name="flag" id="flag" value="@item.Status" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            *@
                            <div class="w-100">
                                <label class="form-label">Status</label><select value="@item.Status" id='flag' name="flag" class="status form-select city me-3" aria-label="Select Mission" required>
                                    <option disabled selected>Select Role</option>
                                    <option value="1">Active </option>
                                    <option value="0">Deactive </option>

                                </select>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-outline-warning rounded-pill" type="submit">Change</button>
                            <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}

<script src="~/js/Admin.js" asp-append-version="true"></script>




@*add*@
<div class="modal fade" id="addrec" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="SkillDecline" asp-area="Admin" asp-controller="Mission">

                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to Add?</h1>
                </div>
                <div class="modal-body ">
                    <label> Skill Add  </label>
                    <input name="skillname" id="skillname" type="text" required />
                </div>

                <div class="modal-footer">
                    <button class="btn btn-outline-success rounded-pill" type="submit">Add</button>
                    <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>