@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accesor
@{
    ViewData["Title"] = "Admin_control";
    ViewData["css"] = "Admin.css";
}
@model List<MissionApplication>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*remove approve and decline users*@

        <div class="c p-3">
            <div class="my-3 ">
                <div class="fs-3 d-flex">
                    <div class="border-bottom border-dark pe-3">
                        Misson Application
                    </div>
                </div>
                <hr class="m-0 p-0">
            </div>
            <div class="py-3 d-flex justify-content-between align-items-center">
               <form method="get" asp-area="Admin" asp-controller="Mission" asp-action="MissionApplication">
            <div class="input-group">
                <input type="text" class="form-control mainLoginInput" name="searchString" value="@ViewData["SearchString"]"  placeholder="&#61442; Search Here">
                <div class="input-group-append">
                    
                </div>
            </div>
        </form>
            </div>
            <div class="w-100 h-100">
                <table class="table border ">
                    <thead class=" ">
                        <tr class="rounded-3">
                            <th>Mission Title</th>
                            <th>Mission ID</th>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>Applied Date</th>
                            <th>Action</th>

                        </tr>
                    </thead>


                    @{
                        foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.Mission.Title</td>
                                    <td>@item.MissionId</td>
                                    <td>@item.UserId</td>
                                    <td>@item.User.FirstName @item.User.LastName</td>
                                    <td>@item.AppliedAt</td>
                                    <td>
                             
                                       <img class="height m-2" onclick="Decline(@item.MissionApplicationId,1)" src="~/images/checked-green.png"/>
                                       <img class="height m-2" onclick="Decline(@item.MissionApplicationId,0)" src="~/images/cancled-red.png"/>
                                       @*
                                        <img onclick="Decline(@item.MissionApplicationId,1)" src="/images/right.png" style="margin: 3px 3px 3px 3px;" />
                                        <img onclick="Decline(@item.MissionApplicationId,0)" src="/images/cancel.png" style="margin: 3px 3px 3px 3px;" />
                                        *@
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>

                
         @*pagination*@
          @if (ViewData["TotalPages"] != null && (int)ViewData["TotalPages"] > 1)
        {
            <div class="position-absolute bottom-10 end-50 mt-3">
                <nav>
                    <ul class="pagination">
                        @if ((int)ViewData["CurrentPage"] > 1)
                        {
                            <li class=" m-1 page-item"><a class="page-link" href="@Url.Action("MissionApplication", new { page = (int)ViewData["CurrentPage"] - 1, searchString = ViewData["SearchString"] })">Previous</a></li>
                        }
                        @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
                        {
                            if (i == (int)ViewData["CurrentPage"])
                            {
                                <li class=" m-1 page-item active"><a class="page-link" href="#">@i</a></li>
                            }
                            else
                            {
                                <li class=" m-1 page-item"><a class="page-link" href="@Url.Action("MissionApplication", new { page = i, searchString = ViewData["SearchString"] })">@i</a></li>
                            }
                        }
                        @if ((int)ViewData["CurrentPage"] < (int)ViewData["TotalPages"])
                        {
                            <li class="m-1 page-item"><a class="page-link" href="@Url.Action("MissionApplication", new { page = (int)ViewData["CurrentPage"] + 1, searchString = ViewData["SearchString"] })">Next</a></li>
                        }
                    </ul>
                </nav>
            </div>
        }


            </div>
        </div>
    




<div class="modal fade" id="deleterec" tabindex="-1" asp-action=aria-labelledby ="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="Decline" asp-area="Admin" asp-controller="Mission">
                <input name="id" id="id" type="hidden" value="" />
                @*
                <input name="flag" id="flag" type="hidden" value="" />
                *@
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to change?</h1>
                </div>
                 <div class="modal-body ">
                           
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Status (0 & 1)</span>
                                </div>
                                <input name="flag" id="flag"  type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>


                        </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-warning rounded-pill" onclick="showthis()" type="submit">Change</button>
                    <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>
 <script src="~/js/Admin.js" asp-append-version="true"></script>