@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accesor
@{
    ViewData["Title"] = "Admin_control";
    ViewData["css"] = "Admin.css";
}
@model List<MissionApplication>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*remove approve and decline users*@

        <div class="c p-3">
            <div class="my-3 ">
                <div class="fs-3 d-flex">
                    <div class="border-bottom border-dark pe-3">
                        Misson Application
                    </div>
                </div>
                <hr class="m-0 p-0">
            </div>
            <div class="py-3 d-flex justify-content-between align-items-center">
                <input type="text" class="form-control w-25" placeholder="search">
            </div>
            <div class="w-100 h-100">
                <table class="table border ">
                    <thead class="bg-primary ">
                        <tr class="rounded-3">
                            <th>Mission Title</th>
                            <th>Mission ID</th>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>Applied Date</th>
                            <th>Action</th>

                        </tr>
                    </thead>


                    @{
                        foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.Mission.Title</td>
                                    <td>@item.MissionId</td>
                                    <td>@item.UserId</td>
                                    <td>@item.User.FirstName @item.User.LastName</td>
                                    <td>@item.AppliedAt</td>
                                    <td>
                                       <button onclick="Decline(@item.MissionApplicationId,1)" class="btn btn-success">Approve</button>
                                       <button onclick="Decline(@item.MissionApplicationId,0)" class="btn btn-danger">Deny</button>
                                       @*
                                        <img onclick="Decline(@item.MissionApplicationId,1)" src="/images/right.png" style="margin: 3px 3px 3px 3px;" />
                                        <img onclick="Decline(@item.MissionApplicationId,0)" src="/images/cancel.png" style="margin: 3px 3px 3px 3px;" />
                                        *@
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>
            </div>
        </div>
    </div>

</div>




<div class="modal fade" id="deleterec" tabindex="-1" asp-action=aria-labelledby ="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="Decline" asp-area="Admin" asp-controller="Mission">
                <input name="id" id="id" type="hidden" value="" />
                @*
                <input name="flag" id="flag" type="hidden" value="" />
                *@
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to change?</h1>
                </div>
                 <div class="modal-body ">
                           
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Status (0 & 1)</span>
                                </div>
                                <input name="flag" id="flag"  type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>


                        </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-warning rounded-pill" onclick="showthis()" type="submit">Change</button>
                    <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>
