@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor Accesor
@{
    ViewData["Title"] = "Admin_control";
    ViewData["css"] = "Admin.css";
}
@model CI.Models.ViewModels.AdminMission
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 <div class="d-none" id="EditMission"  role="dialog" >
     <partial name="EditMission"/>
     </div>

<div class="c p-3">
    <div class="my-3 ">
        <div class="fs-3 d-flex">
            <div class="border-bottom border-dark pe-3">
                Mission
            </div>
        </div>
        <hr class="m-0 p-0">
    </div>
    <div class="py-3 d-flex justify-content-between align-items-center">
        <form method="get" asp-area="Admin" asp-controller="Mission" asp-action="Mission">
            <div class="input-group">
                <input type="text" class="form-control" name="searchString" value="@ViewData["SearchString"]" placeholder="Search Here">
                <div class="input-group-append">
                    <button type="submit" class="ml-2 btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <button type="button" class="btn applyButton" data-bs-toggle="modal" data-bs-target=".bd-example-modal-xl">+ ADD</button>
    </div>
    <div class="w-100 h-100">
        <table class="table border ">
            <thead class=" ">
                <tr class="rounded-3">
                    <th>Mission Title</th>
                    <th>Mission Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                    <th></th>


                </tr>
            </thead>


            @{
                foreach (var item in Model.Missions)
                {
                    <tbody>
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.MissionType</td>
                            <td>@item.StartDate.ToString().Substring(0,10)</td>
                            <td>@item.EndDate.ToString().Substring(0,10)</td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="EditMission(@item.MissionId)">Edit</button>
                                <button onclick="MissionDelete(@item.MissionId)" class="btn btn-danger">Delete</button>
                            </td>


                        </tr>
                    </tbody>
                }
            }
        </table>

        @*pagiantion*@

        @if (ViewData["TotalPages"] != null && (int)ViewData["TotalPages"] > 1)
        {
            <div class="position-absolute bottom-10 end-50 mt-3">
                <nav>
                    <ul class="pagination">
                        @if ((int)ViewData["CurrentPage"] > 1)
                        {
                            <li class=" m-1 page-item"><a class="page-link" href="@Url.Action("Mission", new { page = (int)ViewData["CurrentPage"] - 1, searchString = ViewData["SearchString"] })">Previous</a></li>
                        }
                        @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
                        {
                            if (i == (int)ViewData["CurrentPage"])
                            {
                                <li class=" m-1 page-item active"><a class="page-link" href="#">@i</a></li>
                            }
                            else
                            {
                                <li class=" m-1 page-item"><a class="page-link" href="@Url.Action("Mission", new { page = i, searchString = ViewData["SearchString"] })">@i</a></li>
                            }
                        }
                        @if ((int)ViewData["CurrentPage"] < (int)ViewData["TotalPages"])
                        {
                            <li class="m-1 page-item"><a class="page-link" href="@Url.Action("Mission", new { page = (int)ViewData["CurrentPage"] + 1, searchString = ViewData["SearchString"] })">Next</a></li>
                        }
                    </ul>
                </nav>
            </div>
        }
    </div>
</div>


@*Modal of add mission*@
@{
    foreach (var item in Model.Missions)
    {

        <div class="modal fade bd-example-modal-xl" id="edit" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Mission</h1>
                    </div>
                    <div class="modal-body d-flex flex-column align-items-center justufy-content-center">
                        <form asp-area="Admin" asp-action="AddMission" id="form" asp-controller="Mission" method="post" enctype="multipart/form-data">

                            @*mission title*@
                            <div class="mt-2 w-100">
                                <lable>Title</lable>
                                <input asp-for=Title type="text" class="form-group form-control mb-4 " aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>

                            @*mission Description*@
                            <lable>Description</lable>

                            <textarea asp-for=Description type="text" rows="4" class="form-control  mb-4" id="@item.MissionId" aria-label="Default" aria-describedby="inputGroup-sizing-default">@item.Description</textarea>

                            @*mission Organazion*@
                            <lable>Organazion Name</lable>
                            <input asp-for=OrganizationName type="text" class="form-control mb-4" aria-label="Default" aria-describedby="inputGroup-sizing-default">


                            @*mission Organazion Details*@
                            <lable>Organazion Details</lable>
                            <textarea asp-for=OrganizationDetail type="text" rows="4" class="form-control mb-4" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                                                   </textarea>


                            @*start and end date & deadline*@
                            <div class="row mb-5">
                                <div class="col-sm-12 col-lg-4 col-md-6">
                                    <lable>Starting date</lable>
                                    <input asp-for=StartDate class=" form-control">
                                </div>

                                <div class="col-sm-12 col-lg-4 col-md-6">
                                    <lable>End date</lable>
                                    <input asp-for=EndDate class=" form-control">
                                </div>


                                <div class="col-sm-12 col-lg-4 col-md-12">
                                    <lable>Registration DeadLine</lable>
                                    <input asp-for=Deadline class=" form-control">
                                </div>
                            </div>

                            @*available seats*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Total seats</span>
                                </div>
                                <input asp-for=TotalSeats type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>

                            @*mission Skill*@
                            <div class="row">
                                <div class="col-lg-5 mt-2 col-md-5 col-sm-12 ">
                                    <label class="form-label">Skill</label>
                                    <select asp-for=SkillId id="@item.MissionId" class="form-select me-3" aria-label="Select Skill">
                                        <option value=0 disabled selected>Select Skill for Mission</option>
                                        @{
                                            foreach (var Model in Model.skills)
                                            {

                                                <option value=@Model.SkillId id=@Model.SkillId>@Model.SkillName</option>
                                            }
                                        }
                                    </select>
                                </div>

                                @*mission Theme*@
                                <div class="col-lg-5 mt-2 col-md-5 col-sm-12">
                                    <label class="form-label">Theme</label>
                                    <select asp-for=MissionThemeId id=@item.Theme class="form-select me-3" aria-label="Select Theme">
                                        <option value=0 disabled selected>Select Theme for Mission</option>
                                        @{
                                            foreach (var Model in Model.themes)
                                            {

                                                <option value=@Model.MissionThemeId id=@Model.MissionThemeId>@Model.Title</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            @*Country*@

                            <div class="row">
                                <div class="col-lg-5 mt-2 col-md-5 col-sm-12">
                                    <label class="form-label">Country</label>
                                    <select asp-for=CountryId class="form-select me-3" aria-label="Select Country" onchange="getcities()">
                                        <option value=0 disabled selected>Select Country for Mission</option>
                                        @{
                                            foreach (var Model in Model.Country)
                                            {

                                                <option value=@Model.CountryId id=@Model.CountryId>@Model.Name</option>
                                            }
                                        }
                                    </select>
                                </div>


                                @*Cities*@
                                <div class="col-lg-5 mt-2 col-md-5 col-sm-12">
                                    <label class="form-label">City</label>
                                    <select asp-for=CityId class="form-select me-3" aria-label="Select City">
                                        <option value=0 disabled selected>Select Country for Mission</option>
                                        @{
                                            foreach (var Model in Model.Cities)
                                            {

                                                <option value=@Model.CityId id=@Model.CityId>@Model.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            @*availabilities*@
                            <div class="col-lg-6 mt-2 col-md-6 mb-4 ">
                                <label class="form-label">Availablity</label><select asp-for=Availability id='avilablity' class="form-select me-3" aria-label="Select Mission">
                                    <option value=0 disabled selected>Select Your Availablity</option>
                                    <option value='Weekly'>Weekly</option>
                                    <option value='Daily'>Daily</option>

                                </select>
                            </div>
                            @*mission type*@
                            <div class="col-lg-6 mt-2 col-md-6 mb-4 ">
                                <label class="form-label">Mission Type</label><select asp-for=MissionType id='avilablity' class="form-select me-3" aria-label="Select Mission">
                                    <option value=0 disabled selected>Select Your MissionType</option>
                                    <option value='GOAL'>GOAL</option>
                                    <option value='TIME'>TIME</option>

                                </select>
                            </div>


                            @*upload images*@
                            @*              <div class="images w-100 mt-4 ">
                                <label class="form-label">Upload Your Photos</label>
                                <div class="w-100 border rounded d-flex flex-column align-items-center justify-content-center" style="height:100px;border-style:dashed;">
                                <img src="~/images/add.png" style="cursor:pointer;position:relative; top:20px;" />
                                <input type="file" accept="image/*" onchange="loadimages()" id="images" style="opacity:0;cursor:pointer;" multiple />
                                <p style="margin-block:0px;cursor:pointer;"> Upload Pictures Here</p>
                                </div>
                                <span class="text-danger d-none" id="image">At Least Select One Image</span>
                                <div asp-for=MissionMedias class="gallary mt-4 d-flex form-control flex-wrap">
                                </div>
                                </div>*@

                            @*experience*@
                            <div class="form-group">
                                <label>Images</label>

                                <input type="file" name="files" multiple />
                            </div>
                            @*asp-for=MissionMedias*@



                            <div class="modal-footer">
                                <button class="btn btn-outline-danger rounded-pill" type="submit">Save</button>
                                <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
}


@*delete Modal*@
<div class="modal fade" id="deleter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="DeleteMission" asp-area="Admin" asp-controller="Mission">
                <input name="id" id="id" type="hidden" />
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to delete?</h1>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-danger rounded-pill" type="submit">Delete</button>
                    <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>


@**@
