@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accesor
@{
    ViewData["Title"] = "Admin_control";
    ViewData["css"] = "Admin.css";
}
@model List<MissionTheme>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





        <div class="c p-3">
            <div class="my-3 ">
                <div class="fs-3 d-flex">
                    <div class="border-bottom border-dark pe-3">
                        Mission Theme
                    </div>
                </div>
                <hr class="m-0 p-0">
            </div>
            <div class="py-3 d-flex justify-content-between align-items-center">
                <input type="text" class="form-control w-25" placeholder="search">
                <button class="btn btn-danger" onclick="ThemeGenerate()">
                    + Add
                </button>
            </div>
            <div class="w-100 h-100">
                <table class="table border ">
                    <thead class="bg-primary ">
                        <tr class="rounded-3">
                            <th>Mission Skill</th>
                            <th>Status</th>
                            <th>Action</th>



                        </tr>
                    </thead>


                    @{
                        foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.Title</td>
                                    <td>
                                        @if (@item.Status == 1)
                                        {
                                            <p class="text-success">Active</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">Deactive</p>
                                        }
                                    </td>

                                    <td>
                                    <button onclick="ThemeDecline(@item.MissionThemeId)" class="btn btn-success">Edit</button>
                                    @*    
                                    <img  src="~/images/right.png" style="margin: 3px 3px 3px 3px;" />
                                      *@ 
                                    </td>


                                </tr>
                            </tbody>
                        }
                    }
                </table>
            </div>
        </div>
    </div>

</div>



@*edit*@
@{
    foreach (var item in Model)
    {

        <div class="modal fade" id="deleterec-@item.MissionThemeId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form asp-action="ThemeDecline" asp-area="Admin" asp-controller="Mission">
                        <input name="id" id="id" type="hidden" value="@item.MissionThemeId" />
                        @*
                            <input name="flag" id="flag" type="hidden" />
                            *@
                        <div class="modal-header border-0">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to change?</h1>
                        </div>
                        <div class="modal-body ">
                            <label> Theme name if you want to change  </label>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Theme Name</span>
                                </div>
                                <input name="title" id="title" value="@item.Title" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Status (0 & 1)</span>
                                </div>
                                <input name="flag" id="flag" value="@item.Status" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>


                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-outline-warning rounded-pill" type="submit">Change</button>
                            <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}



@*add*@
<div class="modal fade" id="addrec" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="ThemeDecline" asp-area="Admin" asp-controller="Mission">

                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want to Add?</h1>
                </div>
                <div class="modal-body ">
                    <label> Theme Add  </label>
                    <input name="title" id="title" type="text" />
                </div>

                <div class="modal-footer">
                    <button class="btn btn-outline-success rounded-pill" type="submit">Add</button>
                    <button type="reset" class="btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>







<script src="~/js/Admin.js"></script>