
@model CI.Models.ViewModels.notication

<div id="notificationpartial">
    <div class="notification-content">
        <div class="notification-list">
            <div class="notification-header">
                <div>
                    <button class="remove_style" type="button" onclick="GotoNotificationSettings()"><img src="~/images/settings.png" /></button>
                </div>
                <div>
                    <span class="fs-5">Notifications</span>
                </div>
                <div>
                    <button class="remove_style" style="color:darkorange; font-size:14px;" type="button" onclick="ClearAllNotification()">Clear All</button>
                </div>
            </div>
            <div class="notification-body">
                @if (Model.OldUserNotifications.Count > 0 || Model.NewUserNotifications.Count > 0)
                {
                    @if (Model.NewUserNotifications.Count > 0)
                    {
                        @* <div class="w-100 bg-light d-flex justify-content-center">
                            <span>Newer</span>
                            </div>*@
                        @foreach (var notification in Model.NewUserNotifications)
                        {
                            <div class="single-notification">
                                        @{
                                            var storyid = notification.Notification.StoryId;
                                            var missionid = notification.Notification.MissionId;
                                        }
                                <div class="notification-icon-title">
                                    <div>
                                        @switch (notification.Notification.NotificationType)
                                        {

                                            case 0:
                                                var record = notification.Notification.FromUserId;
                                                var avtar = @Model.Users.FirstOrDefault(x => x.UserId == record);
                                                if (avtar != null)
                                                {
                                                    @if (storyid != null)
                                                    {
                                                        <img src="@avtar.Avatar" onclick="MakeReadedNotification(@notification.UserNotificationId)" href="/stories/detail/@notification.Notification.StoryId" class="notification-profile-pic" />
                                                    }
                                                    @if (missionid != null)
                                                    {
                                                        <img src="@avtar.Avatar" onclick="MakeReadedNotification(@notification.UserNotificationId)" href="/volunteering_mission/@notification.Notification.MissionId" class="notification-profile-pic" />

                                                    }
                                                }
                                                else
                                                {
                                                    <img src="~/images/defaut-volunteer.png" class="notification-profile-pic" />
                                                }
                                                break;
                                                @* case 1:
                                                <img src="~/images/approve.png" width="40px" />
                                                break;*@
                                           @* case 2:
                                                <img src="~/images/add.png" width="40px" />
                                                break;
                                                    *@
                                                 case 1:
                                                @if (storyid != null)
                                                {
                                                    <a class="text-decoration-none text-black " onclick="MakeReadedNotification(@notification.UserNotificationId)" href="/stories/detail/@notification.Notification.StoryId" />
                                                    <img src="~/images/green-checkmark-line-icon.png" width="40px" />
                                                }
                                                @if (missionid != null)
                                                {
                                                    <a class="text-decoration-none text-black" onclick="MakeReadedNotification(@notification.UserNotificationId)" href="/volunteering_mission/@notification.Notification.MissionId" />
                                                    <img src="~/images/green-checkmark-line-icon.png" width="40px" />
                                                }
                                                @if (storyid == null && missionid == null)
                                                {
                                                    <a class="text-decoration-none text-black " onclick="MakeReadedNotification(@notification.UserNotificationId)"  />
                                                    <img src="~/images/red-x-line-icon.png" width="40px" />
                                                }
                                                break;
                                            case 2:
                                                @if (missionid != null)
                                                {
                                                    <a class="text-decoration-none text-black" href="/volunteering_mission/@notification.Notification.MissionId" />
                                                    <img src="~/images/add.png" width="40px" />
                                                }
                                               
                                                break;


                                            case 3:
                                                <img src="~/images/decline.png" width="40px" />
                                                break;
                                        }
                                    </div>
                                    <div>
                                        <span>@notification.Notification.NotificationText</span>
                                    </div>
                                </div>
                                <div>
                                    @if (notification.IsRead == 1)
                                    {
                                        <button class="remove_style readed-@notification.UserNotificationId" onclick="MakeReadUnreadNotification(@notification.UserNotificationId)"><img src="~/images/checked.png" class="read-unread-icon" /></button>
                                        <button class="remove_style unreaded-@notification.UserNotificationId d-none" onclick="MakeReadUnreadNotification(@notification.UserNotificationId)"><img src="~/images/ellips-colored.png" class="read-unread-icon" /></button>
                                    }
                                    else
                                    {
                                        <button class="remove_style readed-@notification.UserNotificationId d-none" onclick="MakeReadUnreadNotification(@notification.UserNotificationId)"><img src="~/images/checked.png" class="read-unread-icon" /></button>
                                        <button class="remove_style unreaded-@notification.UserNotificationId" onclick="MakeReadUnreadNotification(@notification.UserNotificationId)"><img src="~/images/ellips-colored.png" class="read-unread-icon" /></button>
                                    }
                                </div>
                            </div>
                            <hr/>
                        }
                    }
                    if (Model.OldUserNotifications.Count > 0)
                    {
                        string lastsentext = "";
                        var lastseen = @DateTime.Now - Model.LastSeen;
                        if (lastseen.Hours != 0)
                        {
                            lastsentext = "Last seen " + lastseen.Hours + " hr ago";
                        }
                        else if (lastseen.Minutes != 0)
                        {
                            lastsentext = "Last seen " + lastseen.Minutes + " min ago";
                        }
                        else if (lastseen.Seconds != 0)
                        {
                            lastsentext = "Last seen " + lastseen.Seconds + " sec ago";
                        }
                        else
                        {
                            lastsentext = "Last seen " + lastseen.Milliseconds + " ms ago";
                        }
                        <div class="w-100 bg-light d-flex justify-content-between">
                            <div>
                                <span>Older</span>
                            </div>
                            <div>
                                <span style="font-size:13px">@lastsentext</span>
                            </div>
                        </div>
                        @foreach (var notification in Model.OldUserNotifications)
                        {
                            <div class="single-notification">
                                <div class="notification-icon-title">
                                    <div>
                                          @{
                                            var storyid = notification.Notification.StoryId;
                                            var missionid = notification.Notification.MissionId;
                                        }
                                        @switch (notification.Notification.NotificationType)
                                        {
                                            case 0:
                                                var record = notification.Notification.FromUserId;
                                                var avtar = @Model.Users.FirstOrDefault(x => x.UserId == record);
                                                if (avtar != null)
                                                {
                                                    <img src="@avtar.Avatar" class="notification-profile-pic" />
                                                }
                                                else
                                                {
                                                    <img src="~/images/organization.png" class="notification-profile-pic" />
                                                }
                                                break;
                                           case 1:
                                                @if (storyid != null)
                                                {
                                                    <a class="text-decoration-none text-black " onclick="MakeReadedNotification(@notification.UserNotificationId)" href="/stories/detail/@notification.Notification.StoryId" />
                                                    <img src="~/images/approve.png" width="40px" />
                                                }
                                                @if (missionid != null)
                                                {
                                                    <a class="text-decoration-none text-black" onclick="MakeReadedNotification(@notification.UserNotificationId)" href="/volunteering_mission/@notification.Notification.MissionId" />
                                                    <img src="~/images/approve.png" width="40px" />
                                                }
                                                break;
                                            case 2:
                                                @if (missionid != null)
                                                {
                                                    <a class="text-decoration-none text-black" href="/volunteering_mission/@notification.Notification.MissionId" />
                                                    <img src="~/images/add.png" width="40px" />
                                                }
                                               
                                                break;
                                            case 3:
                                                <img src="~/images/decline.png" width="40px" />
                                                break;
                                        }
                                    </div>
                                    <div>
                                        @notification.Notification.NotificationText
                                    </div>
                                </div>
                                <div>
                                    @if (notification.IsRead == 1)
                                    {
                                        <button class="remove_style readed-@notification.UserNotificationId" onclick="MakeReadUnreadNotification(@notification.UserNotificationId)"><img src="~/images/checked.png" class="read-unread-icon" /></button>
                                        <button class="remove_style unreaded-@notification.UserNotificationId d-none" onclick="MakeReadUnreadNotification(@notification.UserNotificationId)"><img src="~/images/ellips-colored.png" class="read-unread-icon" /></button>
                                    }
                                    else
                                    {
                                        <button class="remove_style readed-@notification.UserNotificationId d-none" onclick="MakeReadUnreadNotification(@notification.UserNotificationId)"><img src="~/images/checked.png" class="read-unread-icon" /></button>
                                        <button class="remove_style unreaded-@notification.UserNotificationId" onclick="MakeReadUnreadNotification(@notification.UserNotificationId)"><img src="~/images/ellips-colored.png" class="read-unread-icon" /></button>
                                    }
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="d-flex flex-column w-100 h-100 align-items-center justify-content-center p-4">
                        <div>
                            <img src="~/images/bell-big.png" />
                        </div>
                        <div>
                            <span class="fs-4">No Notifications</span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="notification-setting d-none">
            <div class="notification-header">
                <div class=" d-flex justify-content-center">
                    <span class="fs-5">Notification Setting</span>
                </div>
                <div>
                    <button class="remove_style" onclick="GotoNotificationList()"><img src="~/images/right-arrow.png" /></button>
                </div>
            </div>
            <div class="notification-body">
                <div>
                    <div class="bg-light">
                        Get a notification for
                    </div>
                    <div class="notification-setting-options">
                        <label class="d-flex justify-content-between notification-form-check-label px-2 pt-1" for="recommendedmission">Recommended Mission
                            @*<label class="form-check-label" for="recommendedmission">Recommended Mission</label>*@
                            <input class="form-check-input notification-filters" name="settingoption" for="recommendedmission" type="checkbox" value="recommendedmission" id="recommendedmission" @(Model.NotificationSettings.RecommendMission == 1 ? "checked" : "" ) />
                        </label>
                        <label class="d-flex justify-content-between notification-form-check-label px-2 pt-1" for="recommendedstory">Recommended Story
                            <input class="form-check-input notification-filters" name="settingoption" for="recommendedstory" type="checkbox" value="recommendedstory" id="recommendedstory" @(Model.NotificationSettings.RecommendStory == 1 ? "checked" : "" ) />
                        </label>
                      
                       
                      
                        <label class="d-flex justify-content-between notification-form-check-label px-2 pt-1"  for="mystory">My Story
                            <input class="form-check-input notification-filters" name="settingoption" for="mystory" type="checkbox" value="mystory" id="mystory" @(Model.NotificationSettings.StoryApprove == 1 ? "checked" : "" ) />
                        </label>
                        <label class="d-flex justify-content-between notification-form-check-label px-2 pt-1"  for="newmessage">New Messages
                            <input class="form-check-input notification-filters" name="settingoption" for="newmessage" type="checkbox" value="newmessage" id="newmessage" @(Model.NotificationSettings.NewMessage  == 1 ? "checked" : "" ) />
                        </label>
                        <label class="d-flex justify-content-between notification-form-check-label px-2 pt-1"  for="missionapplication">Mission Application
                            <input class="form-check-input notification-filters" name="settingoption" for="missionapplication" type="checkbox" value="missionapplication" id="missionapplication" @(Model.NotificationSettings.ApplicationApprove == 1 ? "checked" : "" ) />
                        </label>
                       
                        <label class="d-flex justify-content-between notification-form-check-label px-2 pt-1"  for="fromemail">Receive notification by email
                            <input class="form-check-input notification-filters" name="settingoption" for="fromemail" type="checkbox" value="fromemail" id="fromemail" @(Model.NotificationSettings.FromMail == 1 ? "checked" : "" ) />
                        </label>
                    </div>
                </div>
            </div>
            <div class="notification-footer w-100">
                <div class="d-flex justify-content-center gap-3">
                    <div>
                        <button type="button" class="btn btn-outline-secondary rounded-pill" onclick="GotoNotificationList()">Cancle</button>
                    </div>
                    <div class="applybtn">
                        <button type="submit" class="btn" onclick="SaveNotificationSettings()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>